
        <div id="headerTop" class="clear">
            <h3 class="hidden">상단 메뉴바</h3>
            <div class="hamburger" id="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="rightArea">
                <ul>
                    <li class="userName"><span data-modal="userChange" class="modalOpen">안랩</span>님</li>
                    <li class="userMoney">수익금: <span>23,452,476</span>원</li>
                    <li class="userMenu">
                        <button>사용자 관련 메뉴</button>
                        <ul>
                            <li onclick="location.href='javascript:void(0)'">정보수정</li>
                            <li onclick="location.href='javascript:void(0)'" class="logout">로그아웃</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav id="nav">
            <h3 class="hidden">navigation left bar</h3>
            <div class="authTitle clear">
                <div class="logoArea" data-url="/index.html">
                    <div class="defSize">안랩애즈 로고</div>
                    <div class="smaSize">안랩애즈 로고</div>
                </div>
            </div>
            <div>
                <ul class="depth">
                    <li class="urlBtn" data-url="/index.html" >
                        <span>개요</span>
                    </li>
                    <li class="subMenu">
                        <span>광고</span>
                        <ul>
                            <li class="urlBtn" data-url="/layout/campaign/adgubun_list.html">캠페인 관리</li>
                            <li class="urlBtn" data-url="/layout/campaign/creative_list.html">소재 관리</li>
                        </ul>
                    </li>
                    <li class="subMenu">
                        <span>통계</span>
                        <ul>
                            <li class="urlBtn" data-url="/layout/stat/Day_stat.html">일자별 통계</li>
                            <li class="urlBtn" data-url="/layout/stat/Time_stat.html">시간별 통계</li>
                            <li class="urlBtn" data-url="/layout/stat/Zone_stat.html">지면별 통계</li>
                            <li class="urlBtn" data-url="/layout/stat/Campaign_stat.html">캠페인별 통계</li>
                        </ul>
                    </li>
                    <li class="subMenu">
                        <span>결재</span>
                        <ul>
                            <li class="urlBtn" data-url="/layout/pay/Pay_list.html">결재목록</li>
                            <li class="urlBtn" data-url="/layout/pay/Pay_write.html">결재하기</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
