<html lang="ko">
    <head>
        <title>ahnlab ADS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--파비콘 공통:s-->
        <link rel="shortcut icon" href="https://image.ahnlab.com/favicon/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="https://image.ahnlab.com/favicon//favicon.ico">
        <link rel="icon" type="image/png" sizes="152x160" href="https://image.ahnlab.com/favicon/favicon_152.png">
        <link rel="icon" type="image/png" sizes="144x160" href="https://image.ahnlab.com/favicon/favicon_144.png">
        <link rel="icon" type="image/png" sizes="120x120" href="https://image.ahnlab.com/favicon/favicon_120.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://image.ahnlab.com/favicon/favicon_96.png">
        <link rel="icon" type="image/png" sizes="72x72" href="https://image.ahnlab.com/favicon/favicon_72.png">
        <link rel="icon" type="image/png" sizes="57x57" href="https://image.ahnlab.com/favicon/favicon_57.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://image.ahnlab.com/favicon/favicon_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://image.ahnlab.com/favicon/favicon_16.png">
        <!--파비콘 공통:e-->
        <link rel="stylesheet" type="text/css" href="../../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../../css/common.css">
        <link rel="stylesheet" type="text/css" href="../../css/lib/daterangepicker_popup.css">
        <link rel="stylesheet" type="text/css" href="../../css/lib/jquery.dataTables.css">
        <link type="text/css" rel="styleSheet" href="//unpkg.com/swiper/swiper-bundle.css">
        <link type="text/css" rel="stylesheet" href="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/style.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
        <script type="text/javascript" src="../../js/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../../js/lib/daterangepicker_popup.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/buttons.html5.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/buttons.colVis.min.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/modules/data.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/modules/drilldown.js"></script>
        <script type="text/javascript" src="../../js/chart.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery.techbytarun.excelexportjs.js"></script>
        <script type="text/javascript" src="../../js/table.js"></script>
        <script type="text/javascript" src="../../js/lib/dropzone/dropzone.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="../../js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/js/content-script/page_context.js"></script>
    </head>
    <body naver_screen_capture_injected="true">
        <div id="loadingBg" class="complete">
            loading...
        </div>
        <header class="mainHeader">
            <div data-include-path="../../layout/header.html"></div>
        </header>
        <div id="wrap">
            <h2 class="location">통계<span></span>지면별 통계</h2>
            <!-- start 검색 폼:s-->
            <section class="optionBox">
                <h3 class="hidden">옵션 박스</h3>
                <div class="date">
                    <h4 class="hidden">날짜선택</h4>
                    <div class="calendar">
                        <div class="icon"></div>
                        <div class="dateChoice">
                            <input type="text" class="dateInput" value="" readonly="readonly" autocomplete="false">
                            <input type="hidden" name="sDate" value="20210301">
                            <input type="hidden" name="eDate" value="20210315">
                        </div>
                    </div>
                </div>
                <div class="setTypeBox">
                    <div class="clear setType">
                        <h4>형태</h4>
                        <div>
                            <input type="radio" name="platformType" id="platformType00" class="hidden" value="00" checked="checked">
                                <label for="platformType00">전체</label>
                            <input type="radio" name="platformType" id="platformType01" class="hidden" value="01">
                                <label for="platformType01">PC</label>
                            <input type="radio" name="platformType" id="platformType02" class="hidden" value="02">
                                <label for="platformType02">모바일</label>
                        </div>
                    </div>
                </div>
                <div class="buttonBox">
                    <button type="button" id="dateButton">검색</button>
                </div>
            </section>
            <!-- 검색 폼:e-->
            <section class="chartBox">
                <div class="chart50">
                    <h3 class="contentTitle">평일</h3>
                    <div class="chart">
                        <!--그래프삽입--->
                    </div>
                </div>
                <div class="chart50">
                    <h3 class="contentTitle">주말</h3>
                    <div class="chart">
                        <!--그래프삽입--->
                    </div>
                </div>
            </section>
            <section class="tableSection">
                <div class="rightBox">
                    <button type="button" class="excelDown">엑셀</button>
                </div>
                <div>
                    <table>
                        <colgroup>
                            <col width="17%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="13%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th>지면명</th>
                                <th>캠페인수</th>
                                <th>노출수</th>
                                <th>클릭수</th>
                                <th>클릭률</th>
                                <th>지역선택</th>
                                <th>요일선택</th>
                                <th>소진금액</th>
                                <th>평균소진</th>
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="totalFooter bold">
                                <td colspan="2">합계</td>
                                <td>999</td>
                                <td>999</td>
                                <td class="PCT blue">99.9</td>
                                <td>1</td>
                                <td>1</td>
                                <td class="WON red">9999</td>
                                <td>9999</td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>토스트테스트_0331<i class="search_btn" onclick="window.open('Zone_stat_pop.html','pop','resizable=yes,width=1600,height=700,scrollbars=yes');"></i></td>
                                <td>999</td>
                                <td>999</td>
                                <td>999</td>
                                <td class="PCT blue">99.9</td>
                                <td>서울</td>
                                <td>평일</td>
                                <td class="WON red">9999</td>
                                <td>999</td>
                            </tr>
                            <tr>
                                <td>토스트테스트_0331<i class="search_btn" onclick="window.open('Zone_stat_pop.html','pop','resizable=yes,width=1600,height=700,scrollbars=yes');"></i></td>
                                <td>999</td>
                                <td>999</td>
                                <td>999</td>
                                <td class="PCT blue">99.9</td>
                                <td>없음</td>
                                <td>없음</td>
                                <td class="WON red">9999</td>
                                <td>999</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="page-nav-box">
                        <div class="page-nav">
                            <div class="prev"></div>
                            <ul>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer"></footer>
        </div>
    </body>
    <audio src="" id="naver_dic_audio_controller" controls="controls" style="display: none;"></audio>
</html>