<script>
    $(document).ready(function(){
        $(document).on('click','.nhnkcp_popup .btn-close-layer,button.kcpLink',function(){
            $('#wrap .nhnkcp_popup').fadeOut(300);
        });
    });
</script>
<div class="nhnkcp-con">
    <span class="btn-close-layer">닫기</span>
    <h2>
        <p>새내기 사장님들의 안정적인 성장을 위한</p>
        <p>100일 전폭 지원프로젝트</p>
    </h2>
    <div class="m-txt">
        <p><strong>신규 창업</strong>하시는 사장님들이 <strong>쇼핑몰 운영</strong> 시, 가장 고민하시는 부분을 해결해드립니다.</p>
    </div>
    <div class="btn-box">
        <div class="box">
            <h5>모비온 타겟팅 광고</h5>
            <p><span>신규 고객 유입</span></p>
        </div>
        <div class="box">
            <h5>인사이트 마케팅</h5>
            <p><span>추천을 통한<br/>구매전환율 상승</span></p>
        </div>
        <div class="box">
            <h5>모비튠 CRM</h5>
            <p><span>고객행동패턴 마케팅</span></p>
        </div>
        <div class="box">
            <h5>아이봇(AI챗봇)</h5>
            <p><span>24시간동안<br/>고객 응대</span></p>
        </div>
        <div class="box">
            <h5>아이앱스</h5>
            <p><span>안드로이드<br/>IOS APP 및 PUSH</span></p>
        </div>
    </div>
    <div class='content'>
        <p>100일 동안 약 <strong>100만원</strong> 상당 <strong>전폭 지원 혜택</strong></p>
    </div>
</div>