@charset "UTF-8";

$mainColor: #154188;
$mainColor2:#0e2b5a;$subColor:#b1b6b7;
$errorColor: #ff2c2c;
$deleteColor: #ff4545;
$menuDefaultColor: #5e5e5e;
$C-Color:#2163ce;
$W-Color:#85b74e;
@mixin floatRelease {
	content: "";
	display: block;
	clear: both;
}
@mixin section {
	margin: 30px;
}
@mixin contentSection {
	padding: 15px;
}
@mixin subSectionTitle {
	padding-bottom: 10px;
	margin-top: 50px;
	margin-bottom: 25px;
	border-bottom: 1px solid #dadada;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: -0.4px;
	color: #3e3e3e;
}
@mixin sectionShadow {
	box-shadow: 0.8px 0.6px 5px 0 rgba(0, 0, 0, 0.15);
}
@mixin defaultSpacing {
	letter-spacing: -0.3px;
}
@mixin lineH($h){
	height:$h;
	line-height:$h;  
}
@mixin WH($w,$h){
	width: $w;
	height: $h;    
}
@mixin b-box($br){
	border: 1px solid $mainColor;
	border-radius: $br;
}

/* common css setting */
h2.location> span:before{
	content: '>';
	margin: -3px 6px 0;
	transform: scaleX(0.6);
	display: inline-block;
	font-size: 27px;
	line-height: 15px;
	vertical-align: middle;
	font-weight: 500;
}
.hidden {
	position: fixed;
	top: 0;
  	left: -999999px;
}
.none {
	display: none;
}
.clear:after,section:after {
	content: "";
	display: block;
	clear: both;
}
.border-0{border:0 !important;}
.border-b{border-bottom:1px solid #dadada !important;}
.green {
	color: #85b74e;
}

.red {
	color: #ff2c2c;
}

.blue {
	color: #5051df;
}

.purple {
	color: #662e91;
}

.gray {
	color: #777777;
}

.bold {
	font-weight: 600;
}

.sat {
	color: #00f;
}

.sun {
	color: rgb(255, 115, 0);
}
.w-200{width:200px !important;float: left; margin-right: 10px;}
.w-130{width:130px !important;}
.w-60{width:60px !important;}
.txtL{text-align: left !important;}
.flLf {
	float: left;
	margin-right: 10px;
}
.mr-10{margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.txt-p{
	cursor: pointer;
	&:hover{text-decoration: underline;}
}
.PCT:after{
	content: '%';padding-left: 2px;
}
.WON:after{
	content: '원';padding-left: 2px;
}
.subMenu-list {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	font-size: 16px;
	&:after{@include floatRelease;}
	li{
		float: left;
		margin-right:7px;
		cursor: pointer;
		&:last-child{margin-right:0;}
		&.active{color: #ff2c2c;font-weight: 600;}
	}
}
div.leftBox{
	position: relative;
	float: left;
	@include WH(auto !important,auto !important);
	overflow-y: hidden !important;
}
div.rightBox{
	position: relative;
	float: right;
	@include WH(auto !important,auto !important);
	overflow-y: hidden !important;
}
/*////////// 커스텀 스크롤 css //////////*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #f5f5f5;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #f5f5f5;
	margin-left: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(85, 85, 85, 0.15);
}
/*////////// 커스텀 스크롤 css End //////////*/

/*////////// 커스텀 체크박스 버튼 css //////////*/
input[type="checkbox"] + label {
	position: relative;
	display: block;
	padding-left: 20px;
	cursor: pointer;
}

input[type="checkbox"] + label:before {
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	content: "";
	width: 15px;
	height: 15px;
	background: url("../img/icon/checkbox.png") center/100% no-repeat;
}

.tableSection input[type="checkbox"] + label {
	position: static;
	width: auto;
	padding-left: 0;
	text-align: center;
}

.tableSection input[type="checkbox"] + label:before {
	position: static;
	display: inline-block;
}

input[type="checkbox"]:checked + label:before {
	content: "";
	background: url("../img/icon/checkbox_on.png") center/100% no-repeat;
}

input[type="checkbox"][disabled] + label:before {
	content: "";
	background: url("../img/checkbox_disabled.png") center/100%
		no-repeat;
}
/*////////// 커스텀 체크박스 버튼 css End //////////*/

/*////////// 커스텀 라디오 버튼 css //////////*/
.radioBox > div:after {
	content: "";
	display: block;
	clear: both;
}
input[type="radio"] + label {
	float: left;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}

input[type="radio"] + label:before {
	float: left;
	top: 0.25em;
	left: 0;
	display: block;
	content: "";
	width: 15px;
	height: 15px;
	margin: 0 5px 6px 0;
	background: url("../img/icon/radio.png") center/100% no-repeat;
}

input[type="radio"]:checked + label:before {
	content: "";
	background: url("../img/icon/radio_on.png") center/100% no-repeat;
}
input[type="radio"].disabled + label:before {
	content: "";
	background: url("../img/icon/radio_off.png") center/100% no-repeat;
}
.customRadioMargin input[type="radio"] + label:before {
	margin-top: 8px;
}

.underLine input[type="radio"] + label:before {
	margin-top: 0;
}
/*////////// 커스텀 라디오 버튼 css End //////////*/

/*////////// 커스텀 셀렉트박스 css //////////*/
.customSelect {
	float: left;
	width: 150px;
	margin-right: 15px;
	background: #fff url("../img/icon/icon_selectbox.png") no-repeat right 10px center/10px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	box-sizing: border-box;
	overflow: hidden;
	&.lastItem {
		margin-right: 0;
	}
	&.setType,&.setType select{width: auto;}
	select {
		display: block;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		padding: 0 30px 0 8px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 13px;
		cursor: pointer;
		line-height: 30px;
		&:focus {
			outline: none;
		}
	}
}
.customSelect2 {
	width: 90%;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	background: #fff url("../img/icon/icon_selectbox.png") no-repeat right
		10px center/10px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	box-sizing: border-box;
	overflow: hidden;
	select {
		display: block;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		padding: 0 30px 0 8px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 17px;
		font-weight: 600;
		cursor: pointer;
		line-height: 30px;
	}
}
select::-ms-expand {
	display: none;
}
$inputH:32px;
/*////////// 커스텀 셀렉트박스 css End //////////*/
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="text"],input[type="password"],input[type="number"]{height: $inputH;padding: 0 10px;}
input[type="text"],input[type="password"],input[type="number"],textarea {
	width: 100%;
	border: 1px solid #dadada;
	border-radius: 4px;
	font-family: 'notokr', 'Nanum Gothic', 'sans-serif';
	background-color: #fff;
}
textarea{padding: 5px;}
.buttonBox{
	.fstart,.fstop,.fdel{margin-right:10px;}
}
button {
	height: $inputH;
	padding: 0 20px;
	margin-right: 20px;
	background: $mainColor;
	border-radius: 3px;
	font-weight: 400;
	color: #fff;
	float: left;
	&.excelDown {
		padding: 0 12px 0 30px;
		background: $mainColor url("../img/icon/icon_excel.png") 10px/12px no-repeat;
		float: right;
		margin-right: 0;
		&:hover{
			opacity: 0.9;
		}
	}
	&.regis {
		background-color:#4eb798;
		&:hover{
			opacity: 0.9;
		}
	}
}

#loadingBg {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999999999;
	background: rgba(0, 0, 0, 0.7);
	font-size: 40px;
	line-height: 900px;
	color:#fff;
	text-align: center;
	&.complete {
		display: none;
		opacity: 0;
		z-index: -999999;
	}
}
/////////////#wrap:s////////////////
$topH:55px;
$conP:30px;
$navW:250px;
$navW2:90px;
#wrap {
	width:calc(100% - #{$navW});
	min-width: 1000px;
	position: relative;
	margin:$topH 0 0 $navW;
	padding:$conP;
	background-color: #f5f5f5;
	transition: all 0.4s;
	overflow: auto;
	height: calc(100% - #{$topH});
	&.Maximize{width:calc(100% - #{$navW2}); margin-left: $navW2;}
	> h2 {
		padding-bottom: 10px;
		margin-bottom: 25px;
		border-bottom: 1px solid #dadada;
	}
	> button {
		position: absolute;
		top: 25px;
		right: 20px;
		background: $mainColor;
	}
	section {
		margin-bottom: 20px;
		h3.contentTitle {
			padding-bottom: 10px;
			border-bottom: 1px solid #dadada;
			font-weight: 500;
			letter-spacing: -0.4px;
			color: #3e3e3e;
			margin-bottom: 25px;
			font-size: 18px;
		}
		.comboBox{
			overflow: unset;
			position: relative;
			float: left;
			@include WH(auto !important,auto !important);
			> ul {
				display: none;
				position: absolute;
				top: 35px;
				z-index: 11;
				background: #fff;
				@include b-box(4px);
				> li {
					padding: 10px;
					text-align: center;
					cursor: pointer;
					transition: 0.4s;
					&:hover {
						background: $mainColor2;
						color: #fff;
					}
				}
			}
		}
	}
}
/////////////#wrap:e////////////////
////////////content 구성 요소:s///////////////
.contents{
	@include b-box(10px);
	background-color: #fff;
	position: relative;
	padding: 30px;
	margin-bottom: 20px;
	section {
		border-bottom: 1px solid #dadada;padding-top: 10px;
		&:last-of-type{border-bottom: 0;}
		$h4W:120px;
		h4{
			font-weight: 500;
			font-size: 16px;
			width: $h4W;
			float: left;
			line-height: $inputH;
		}
		> div{
			width: 100%;
			margin-bottom: 30px;
			float: left;
			> p{line-height: 25px;}
			> span{line-height: $inputH;}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
			&.input50 input,&.input25 input,.cityList{width: calc(100% - #{$h4W}); float: left;}
			&.input50{
				width: calc(50% - 10px);
				&:first-child{margin-right: 20px;}
			}
			&.input25{
				width: calc(25% - 30px);
				margin-right: 40px;
				&:last-child{margin-right: 0;}
			}
			&.input25 input{text-align: right;}
			&.crtRegList{
				height: 70px;
				overflow: hidden;
				h4{height: 100%;}
				ul{
					height: 100%;
					li{
						@include WH(100px,100%);
						float: left;
						margin-right: 10px;
						position: relative;
						display: flex;
						align-items: center;
						border: 1px solid #d0d0d0;
						.crtImg{
							@include WH(100%,100%);
							img{
								object-fit: contain;
								@include WH(100%,100%);
							}
						}
						p{display: none;}
						&:hover {
							p{
								display: -webkit-box;
								display: box;
								overflow:hidden;
								text-overflow: ellipsis;
								word-break:break-all;
								-webkit-box-orient:vertical;
								-webkit-line-clamp:3;
								position: absolute;
								text-align: center;
								color: #fff;
								font-size: 13px;
								padding: 0 5px;
								width: 100%;
							}
							&:before{
								position: absolute;
								top: 0;
								content: '';
								display: block;
								@include WH(100%,100%);
								background-color: rgba(0,0,0,.7);
							}
						}
					}
				}
			}
			.dropzonePreview{
				li{
					position: relative;
					float: left;
					margin-right: 20px;
					img{
						height: 50px;
						object-fit: contain;
						display: block;
					}
				}
			}
			.dropzone_sample{
				width: calc(100% - #{$h4W});
				height: 150px;
				border: 1px solid #dedede;
				border-radius:10px;
				background: #fbfbfb url('../img/drag_and_drop.png') no-repeat center;
				float: left;
				cursor: pointer;
			}
			.btn_checkbox{
				ul {
					float:left;
					li {
						display: inline-block;
						vertical-align: middle;
						margin: 0;
						cursor: pointer;
					}
				}
				.pay-tab > li,label {
					padding: 0 20px;
					margin-right: 10px;
					background: #ccc;
					border-radius: 3px;
					font-size: 15px;
					font-weight: 400;
					color: #000;
					min-width:80px;
					text-align:center;
					line-height:32px;
					&:before {content:'';display:none;}
				}
				.pay-tab > li.active,input:checked + label {
					background: $mainColor;
					color:#fff;
				}
				.dayCheckList {
					label {
						min-width:40px;
						width:50px;
						padding:0 10px;
					}
				}
			}
			.timesSettingWrap {
				position:relative;
				margin-left:35px;
				width:auto;
				float: left;
				.time_text {
					font-size: 0;
					margin-left: -17px;
					li {
						display: inline-block;
						width: 36px;
						text-align: center;
						font-size: 12px;
						font-style: normal;
					}
				}
				.timeSetting {
					font-size: 0;
					li {
						width: auto;
						border: none;
						display: inline-block;
						vertical-align: top;
						width: 35px;
						height: 25px;
						background: #d2d2d2;
						font-size: 0;
						border-left: 1px solid #fff;
						&:first-child {
							border-left: none;
						}
						&.ui-selected {
							background: $mainColor;
						}
					}
				}
				.guideTxt {
					font-size: 12px;
					line-height: 150%;
					margin-top:15px;
				}
			}
			ul.bank{
				width: calc(100% - #{$h4W});
				float: left;
				li{
					margin:0 10px 10px 0;
					background: #ccc;
					border-radius: 3px;
					font-size: 15px;
					font-weight: 400;
					color: #000;
					width:120px;
					text-align:center;
					line-height:32px;
					float: left;
					cursor: pointer;
					&:hover{background-color: $mainColor2; color: #fff;}
				}
			} 
		}
		.cityList{
			margin-left: $h4W;
			span{
				margin-right: 20px;
				line-height: 40px;
				display: inline-block;
				font-size: 15px;
				> i{
					content: 'x';
					display: inline-block;
					margin-left: 4px;
					font-weight: 600;
					cursor: pointer;
					font-size: 17px;
					font-style: normal;
				}
			}
		}	
	}
	.centerBox{margin-bottom: 0;}
	.account{display: none;}
}
.daterangepicker .ranges {
    text-align: left;
    margin: 0;
	float: left;
	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		li {
			font-size: 12px;
			padding: 8px 12px;
			cursor: pointer;
			&:hover {
				background-color: #eee;
			}
			&.active {
				background-color: $mainColor;
				color: #fff;
			}
		}
	}
}
.setType {
	float: left;
	margin-right:15px;
	border: 1px solid #dadada;
	border-radius: 5px;
	@include lineH($inputH);
	overflow: hidden;
	font-size: 13px;
	background-color: #fff;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	h4 {
		float: left;
		width: auto !important;
		height: 100%;
		padding: 0 20px;
		background: $mainColor;
		font-weight: 400;
		letter-spacing: -0.3px;
		color: #fff !important;
		font-size: 13px;
	}
	> div {
		float: left;
		padding: 8px 20px 0;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		label {
			float: left;
			margin-right: 10px;
			line-height: 14px;
			&:last-child {margin-right: 0;}
		}
	}
}
.chartBox{
	@include b-box(10px);
	background-color: #fff;
	position: relative;
	> div{
		width: 100%;
		float: left;
		padding: 20px 30px;
		&.chart50{
			width: 50%;
			&:first-child{border-right: 1px solid $mainColor;}
		}
	}
	.chartTap{
		li{
			width: 65px;
			text-align: center;
			@include lineH(32px);
			float: left;
			color: #8a8a8a;
			cursor: pointer;
			background-color:#e8e8e8;
			border-right:1px solid #fff;
			&.active{
				color: #000;
				border:1px solid $mainColor;
				background-color: #fff;
				
			}
		}
	}
	.chart{
		@include WH(100%,230px);
		float: left;
		margin-top: 10px;
	}
}
.optionBox {
	margin-top: 0;
	.date {
		float: left;
		> div {
			float: left;
		}
		.calendar {
			height: $inputH;
			box-sizing: border-box;
			margin-right: 15px;
			background: #fff;
			@include b-box(5px);
			overflow: hidden;
			.icon {
				float: left;
				width: 38px;
				height: 30px;
				background: $mainColor url("../img/icon/icon_calendar.png")
					no-repeat 11px 7px/15px;
				border-radius: 3px 0 0 3px;
			}
			.dateChoice {
				float: left;
				width: 200px;
				cursor: pointer;
				input[type="text"] {
					border: 0;
					text-align: center;
					cursor: pointer;
				}
			}
		}
		.buttonBox {
			margin-right: 10px;
		}
	}
}
.centerBox{
	text-align: center;
	margin-bottom: 30px;
	button{
		float: unset;
		margin: 0 5px;
		&:last-child{background-color: #d0d0d0;}
	}
}
.priceCondition {
	> h3{
		margin-bottom: 15px;
		span{font-size: 15px; font-weight: 400;}
	}
	ul.left h4, > div > ul.price-list > li > h4, ul.price-list > li:first-of-type > h4{
		background: $mainColor;
		color: #fff;
		font-weight: 400;
	}
	ul.left {
		float: left;
		width: 30%;
		background: #fff;
		border: 1px solid $mainColor;
		border-radius: 6px;
		overflow: hidden;
		> li {
			@include lineH(50px);
			&:last-child > h4,&:last-child > p{
				border-bottom: none;
			}
			$h4W:175px;
			> h4 {
				@include WH($h4W,100%);
				float: left;
				padding-left: 20px;
				border-bottom: 1px solid #fff;
			}
			> p {
				@include WH(calc(100% - #{$h4W}),100%);
				float: left;
				padding-right: 20px;
				text-align: right;
				font-size: 20px;
				border-bottom: 1px solid $mainColor;
				&.day:after{
					content: '일 후';padding-left: 2px;
				}
			}
		}
	}
	ul.price-list {
		display: flex;
		justify-content:space-between;
		text-align: center;
		&:first-of-type{margin-bottom: 22px;}
		> li {
			$liH:90px;
			$h4H:35px;
			float: left;
			width: calc(100%/6 - 15px);
			height: $liH;
			border: 1px solid $mainColor;
			border-radius: 6px;
			background: #fff;
			overflow: hidden;
			> h4{
				@include lineH($h4H);
				font-size: 16px;
				background-color: $subColor;
			}
			> p{
				font-size: 22px;
				@include lineH($liH - $h4H);
			}
		}
	}
	> div {
		$ml:20px;
		float: left;
		width: calc(70% - #{$ml});
		margin-left: $ml;
		> ul.price-list > li {width: calc(100%/3 - 15px);}
	}
}
ul.crtstatus{
	display: flex;
	justify-content:space-between;
	li{
		width: calc(100%/4 - 30px);
		background-color: #fff;
		@include b-box(10px);
		@include lineH(45px);
		overflow: hidden;
		&.A h4{background-color: $mainColor;}
		&.C h4{background-color: $C-Color;}
		&.W h4{background-color: $W-Color;}
		&.R h4{background-color: $deleteColor;}
		> h4{
			width: 30%;
			color: #fff;
			text-align: center;
			float: left;
		}
		span{ padding-left: 15px;font-size: 18px;}
	}
	
}
table.crtstatus{
	td{
		height: 90px !important;
		font-size: 14px;
		&.previewImg{
			height: 100%;
			img{object-fit: contain; @include WH(100%,100%);}
		}
	}
	.C{color: $C-Color;}
	.W{color: $W-Color;}
	.R{color: $deleteColor;}
}
.viewImg{
	z-index: 9999;
	position:absolute;
	display:none;
	img{border:1px solid #000;}
}
.mediaRegister{
	border: 1px solid $subColor;
	border-radius: 6px;
	overflow: hidden;
	> div{
		$divH:400px;
		$pH:50px;
		width: 50%;
		height: $divH;
		float: left;
		&:first-child{border-right: 1px solid $subColor;}
		.title{
			text-align: center;
			background-color: #eee;
			font-size: 16px;
			@include lineH($pH);
			position: relative;
		}
		> div{
			margin: 20px 10px 20px 20px;
			height: $divH - ($pH + 40px);
			overflow-y: auto;
			overflow-x: hidden;
			&.excluded > ul > li {
				width: 100%;
				@include lineH(20px);
				margin: 10px 10px 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				float: left;
				button{
					width: 20px;
					@include lineH(20px);
					padding:0;
					margin-right: 10px;
					font-size: 25px;
					color: #fff;
					&.mediaScriptAdd,&.mediaScriptDelete{padding: 4px;}
					&.mediaScriptAdd:before,&.mediaScriptAdd:after,&.mediaScriptDelete:before{
						content: '';
						@include WH(100%,2px);
						background-color: #fff;
						display: block;
						margin: -1.5px 0;
					}
					&.mediaScriptAdd{
						background-color: $mainColor;
						&:after{transform: rotate(90deg);}
					}
					&.mediaScriptDelete{background-color: $subColor;}
				}
			}
		}
	}
}
////////////content 구성 요소:e///////////////
/////////footer:s///////////
footer {
	width: 100%;
	text-align: center;
	font-size: 13px;
	color: #4d4d4d;
	transition: all 0.4s;
}
/////////footer:e////////////////
