.tableSection {
	position: relative;
	padding: 15px;
	overflow: hidden;
	background-color: #ffffff;
	border: solid 1px #eaeaea;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	> div {
		margin-bottom: 10px;
		width: 100%;
		max-height: 706px;
		overflow-y: auto;
		&:last-child {
			margin-bottom: 0;
		}
		.page-nav-box{
			position: sticky;
			bottom:0;
			width: 100%;
			padding-top: 40px;
			background-color: #fff;
			.page-nav{
				display: flex;
				-webkit-box-pack:center;
				-ms-flex-pack:center;
				justify-content:center;
				ul{display: inline-block; vertical-align: top;}
				li,.prev,.next{
					position: relative;
					width: 30px;
					@include lineH(30px);
					display: inline-block;
					font-size: 15px;
					text-align: center;
					color: #000;
					background-color: #f4f4f4;
					margin: 0 2px;
					border-radius: 5px;
					cursor: pointer;
					&:hover,&.active{
						background-color: #5e5e5e;
						color:#fff;
						&:before,&:after{background-color: #fff;}
					}
				}
				.prev,.next{margin: 0 13px;}
				.prev:before,.next:before,.prev:after,.next:after{
					content: '';
					width:2px;
					height:10px;
					background-color: #717171;
					display: block;
					position: absolute;left:14px;
				}
				.prev:after,.next:before{transform:rotate(-45deg);}
				.prev:before,.next:after{transform:rotate(45deg);}
				.prev:after,.next:after{bottom:7px;}
				.prev:before,.next:before{top:7px;}
			}
		}
	}
	.tableTap {
		.tapList {
			&:after {
				content: "";
				display: block;
				clear: both;
			}
			> li {
				float: left;
				width: 100px;
				height: 37px;
				background: #ececec;
				border: 1px solid $subColor;
				box-sizing: border-box;
				text-align: center;
				line-height: 37px;
				cursor: pointer;
				transition: 0.3s;
				&.active {
					position: relative;
					background: #fff;
					border: 1px solid #d7d7d7;
					box-shadow: 0px -3px 4px 0 rgba(0, 0, 0, 0.1);
					&:before {
						content: "";
						position: absolute;
						display: block;
						width: 100px;
						height: 2px;
						background: $mainColor;
					}
				}
			}
		}
	}
	.buttonBox{ height: 32px; margin-bottom: 15px;}
	table {
		border-collapse: collapse;
		table-layout: fixed;
		text-align: center;
		width: 100%;
		word-break:break-all;
		.border-W2{border-width: 2px;}
		th,td {
			vertical-align: middle;
			overflow: hidden;
			height: 45px;
			padding: 10px;
		}
		> thead, > tfoot {display: table-header-group;}
		> thead th, > tfoot td, > tbody th{background: #f4f4f4;}
		> thead {
			th {
				color: #3e3e3e;
				height: 60px;
				position: sticky;
				top: 0;
				font-size: 16px;
				
			}
		}
		> tfoot{
			border-bottom:1px solid #eaeaea;
			font-size: 15px;
			td{
				position: sticky;
				top: 60px;
				padding:10px 0;
				&:before{
					content: '';
					display: block;
					border-top:2px solid #fff;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
		tbody {
			font-size: 13px;
			> tr {
				width: 100%;
				border-bottom: 1px solid #eaeaea;
			}
			button{float: unset; margin: 0;}
		}
		.search_btn{
			background-image: url('../img/icon/search_btn.png');
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			@include WH(15px,15px);
			display: inline-block;
			margin-left: 5px;
			cursor: pointer;
		}
		.edit{
			background-image:url('../img/icon/icon_edit.png');background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
			float: unset;
			margin: 0 auto;
			padding: 0;
			width: 30%;
		}
		&.media_day_admix{
			th:last-child,tfoot td:last-child{
				background-color: $mainColor;
				color: #fff;
			}
			tbody td:last-child{
				background-color: #e6ecf9;
			}
		}
		&.Manager_ecpm_new{
			tbody{
				th{
					border-bottom: 1px solid #fff;
				}
				tr:first-child th{border-top: 1px solid #fff;}
				td:first-child{
					i{margin: 5px 0 0;}
					button{
						float: none;
						margin: 0 0 7px;
						background-color: #dedede;
						color: #000;
						font-size: 12px;
						padding: 5px;
					}
					.smemo.txt,textarea{margin:25px 0 10px;}
					.CPM{
						margin: 15px 0 20px;
						&:before{
							content: 'CPM /';padding-right: 2px;
						}
					}
				} 
				textarea{font-size:12px;}
			} 
		}
		&.checkboxArea{
			button{
				padding: 0 6px;
				&.memo_save{width: 24%;background-color:$subColor;}
			}
			input{
				margin-right: 3%;
				width: 73%;
			}
		}
	}
}
.popup{
	padding:$conP;
	.subMenu-list{margin:15px 0;}
	.optionBox{float: left; width: 100%;margin:10px 0 15px; button{margin-right: 0;}}
	.popTable{
		$bColor:#3e3e3e;
		overflow-y: auto;
		@include WH(100%,76vh);
		&.table-H-2{height: 80vh;}
		table{
			width: 99%;
			text-align: center;
			border: 1px solid $bColor;
			border-collapse: collapse;
			margin-bottom: 20px;
			> tfoot th, > tbody th{background-color: #f4f4f4;}
			td,th{
				border-right: 1px solid $bColor;
				border-bottom: 1px solid $bColor;
				padding:10px 15px;
				vertical-align: middle;
			}
		}
	}
	footer{position: absolute; left: 0; @include lineH(30px);background-color: #fff;}
}
.tableSection table .oneOnOffSetting div,
.twoLineTableSection table .oneOnOffSetting div {
	width: 50px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
}
.tableSection table .oneOnOffSetting div button,
.twoLineTableSection table .oneOnOffSetting div button {
	float: left;
	width: 50px;
	margin: auto;
	background: $subColor;
	border-radius: 0;
	color: #fff;
}
.tableSection table .oneOnOffSetting div button.on,
.twoLineTableSection table .oneOnOffSetting div button.on,
.tableSection table .twoOnOffSetting div button.on,
.twoLineTableSection table .twoOnOffSetting div button.on,
.tableSection table .fourOnOffSetting div button.on,
.twoLineTableSection table .fourOnOffSetting div button.on{
	background-color:$mainColor;
}
.tableSection table .twoOnOffSetting div,
.twoLineTableSection table .twoOnOffSetting div {
	width: 80px;
	margin: 0 auto;
	border: 1px solid $subColor;
	border-radius: 5px;
	overflow: hidden;
}
.tableSection table .twoOnOffSetting div button,
.twoLineTableSection table .twoOnOffSetting div button {
	float: left;
	width: 40px;
	margin: auto;
	background: $subColor;
	border-radius: 0;
	color: #fff;
}
.tableSection table .fourOnOffSetting div,
.twoLineTableSection table .fourOnOffSetting div {
	width: 4.2vw;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
}
.tableSection table .fourOnOffSetting div button{
	font-size: 0.7vw;
	&:before{content: 'OFF';}
	&.on:before{content: 'ON';}
}
.tableSection table .fourOnOffSetting div button,
.twoLineTableSection table .fourOnOffSetting div button {
	float: left;
	width: 50%;
	margin: auto;
	background: $subColor;
	border-radius: 0;
	color: #fff;
}
.dt-button-collection {
	position: absolute;
	top: 40px !important;
	left: 15px !important;
	min-width: 110px;
	margin-top: 15px !important;
	border: 1px solid $mainColor;
	background: #ffffff;
	border-radius: 6px;
	> ul {
		max-height: 300px;
		overflow-y: auto;
		> li:hover {
			background: #f4f4f4;
		}
		> li {
			> a {
				display: block;
				padding: 10px 20px;
				cursor: pointer;
				text-decoration: line-through;
				color: red;
				&.active {
					text-decoration: none;
					color: #000;
				}
			}
		}
	}
}