@charset "UTF-8";
/////////// 커스텀 스크롤:s ///////////
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(95, 78, 78, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #f5f5f5;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #f5f5f5;
	margin-left: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(85, 85, 85, 0.15);
}
@include screen('max-mob') {
	::-webkit-scrollbar-track, ::-webkit-scrollbar, ::-webkit-scrollbar-thumb{
		display: none !important; 
	}
}
/////////// 커스텀 스크롤:e ///////////
.dim {
	@include WH(100%,100%);
	@include position($p:fixed,$t:0);
	@include transition;
	display: none;
	z-index: 9;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	&.dimOn {
		background-color:rgba(0,0,0,.4);
		display: block;
	}
}
.none { display: none; }
/////////// header:s ///////////
header {
	@include position($p:fixed,$t:0,$l:0);
	@include WH(100%,$navH);
	@include transition;
	z-index: 999;
	padding: 0 2vw;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	h1.logo {
		@include WH($navH,100%);
		@include bgImg(contain);
		@include transition;
		background-image: url('../img/svg/logo.svg');
		text-indent: -99999999px;
		float: left;
	}
	.menu {
		height: 100%;
		display: flex;
		justify-content:flex-end;
		.menu-list {
			height: 100%;
			ul {
				height: 100%;
				display: flex;
				align-items: center;
				font-size: 1.5rem;
				li {
					float: left;
					margin-left: 15px;
					padding:10px;
					cursor: pointer;
				}
			}
		}
		button.m-nav { display: none; }
	}
	&.subNav {
		height: $subNavH;
		background-color: $subNavC;
		h1.logo { width: $subNavH; }
	}
}
/////////// header:e ///////////
/////////// section:s ///////////
.container {
	text-align: center;
	> article {
		width: 100%;
		position: relative;
		&:after{ @include both; }
		&#fullPage {
			@include bgImg(cover);
			background-image: url('../img/bg/flower4.jpg');
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			.con {
				width: 77vmin;
				p { margin: 0.5vh 0 3.5vh; }
				h2 { font-size: 4.7vmin; }
				button {
					@include transition;
					border:2px solid $mainColor;
					padding:0 2.2vw;
					font-size: 1.8vmin;
					height: 8.2vmin;
					text-transform: uppercase;
					background-color: rgba(0,0,0,.2);
					&:hover {
						background-color: rgba(0,0,0,.6);
						color: #fff;
					}
				}
			}
			.life-quotes {
				@include position($p:absolute,$b:0);
				background: linear-gradient(to bottom,transparent, rgba(0,0,0,.4), rgba(0,0,0,.6));
				width: 100%;
				padding: 3.5vh 2% 1.5vh;
				color: #fff;
				font-size: 1.8vmin;
				p:first-child{
					margin-bottom: 6px;
				}
			}
			@include screen('max-mob') {
				.con {
					h2 { font-size: 4vh; }
					button {
						padding:0 2.5vw;
						font-size: 1.8vh;
						height: 8.2vh;
						background-color: rgba(0,0,0,.3);
						color: #e6e6e6;
					}
				}
				.life-quotes {
					font-size: 3.8vmin;
				}
			}
		}
		
		&#scrollPage {
			section {
				@include transition;
				position: relative;
				&:after{@include both;}
				.title {
					h2 { 
						font-size: 3.2rem;
						text-transform: uppercase;
						display: inline-block;
						&:after {
							@include WH(100%,1px);
							background-color:$mainColor;
							content: '';
							display: block;
							transition: all 0.5s;
							margin-top: 5px;
						}
					}
					.desc {
						line-height: 2.2rem;
						color: $gray;
						margin: 3vh 0 8vh;
					}
					&.left-title {
						width: 50%;
						text-align: left;
						padding-right: 4vw;
						font-size: 1.6rem;
						p {
							margin-bottom: 15px;
							line-height: 2.4rem;
						}
						.desc {
							margin: 3vh 0 0;
						}
						@include screen('max-mob2') {
							width: 100%;
							padding-right: 0;
						}
					}
					@include screen('tablet') {
						.desc { margin: 2.2vh 0 4.5vh; }
					}
					@include screen('max-mob') {
						h2 { font-size: 7vW; }
					}
				}
				
				&.about {
					display: flex;
					justify-content: space-between;
					.profile-img { 
						@include bgImg(cover);
						background-image: url('../img/kspring.jpg');
						width: 50%;
						padding-bottom: 45%;
					}
					@include screen('max-mob2') {
						flex-direction: column;
						.profile-img { 
							width: 100%;
							padding-bottom: 85%;
							margin-top: 15px;
						}
					}
				}
				&.profile ul {
					display: flex;
					justify-content: space-around;
					li {
						display: flex;
						flex-direction:column;
						align-items: center;
						&:first-child span{
							background-image: url('../img/svg/Orion_mail.svg');
						}
						&:nth-child(2) span{
							background-image: url('../img/svg/Orion_iphone.svg');
						}
						&:last-child span{
							background-image: url('../img/svg/Orion_navigation-map.svg');
						}
						span {
							@include bgImg(contain);
							@include WH(50px,50px);
							display: block;
							margin-bottom: 15px;
						}
					}
					@include screen('max-mob2') {
						flex-direction:column;
						li {
							margin-bottom: 30px;
							span {
								@include WH(65px,65px);
							}	
						}
					}
				}
				&.portfolio, &.about, &.profile {
					padding:$subNavH+10 $subP;
					@include screen('tablet') {
						$subP:6vw;
						padding:$subNavH+10 $subP;
					}
				}
				&.life-quotes {
					@include bgImg(cover);
					height: 25vmin;
					&.Bill-Gates { background-image: url('../img/bg/flower3.jpg'); }
					&.Hal-Borland { background-image: url('../img/bg/flower2.jpg'); }
					.mask {
						@include WH(100%,100%);
						background-color: rgba(0,0,0,.4);
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						.txt {
							width: 94%;
							span {
								font-size: 5vmin;
								line-height: 0;
							}
							h3 {
								font-size: 3vmin;
								margin: 1.2vmin 0;
							}
						}
					}
					@include screen('max-mob') {
						height: 45vmin;
						.mask .txt {
							span {
								font-size: 7vmin;
							}
							h3 {
								font-size: 5.5vmin;
								line-height: 6.5vmin;
								margin: 1.5vmin 0 2.8vmin;
							}
							p {
								font-size: 4.5vmin;
							}
						}
					}
				}
				
				.gallery-container {
					.filter-btn {
						display: flex;
						justify-content: center;
						li {
							@include lineH(50px);
							@include transition;
							border: 1px solid #000;
							margin: 0 10px;
							overflow: hidden;
							cursor: pointer;
							padding: 0 2vw;
							text-transform: capitalize;
							&:hover,&.active {
								background-color:$mainColor;
								color: #fff;
							}
							&:first-child { margin-left: 0; }
							&:last-child { margin-right: 0; }
						}
						@include screen('max-mob') {
							justify-content: space-between;
							li {
								@include lineH(45px);
								margin: 0;
								padding: 0 2.5vw;
							}
						}
					}
					.gallery-list {
						display: flex;
						flex-wrap:wrap;
						justify-content: flex-start;
						padding-top: 35px;
						figure {
							@include transition;
							width: calc((100% / 3) - (#{$galleryM} * 2));
							padding-bottom: 17.65%;
							position: relative;
							overflow: hidden;
							float: left;
							margin: $galleryM;
							cursor: pointer;
							&:hover figcaption { display: flex; }
							.img {
								@include position($p:absolute,$t:0);
								@include WH(100%,100%);
								@include bgImg(cover);
							}
							figcaption {
								@include position($p:absolute,$t:0);
								@include WH(100%,100%);
								background-color: rgba(0,0,0,.6);
								color: #fff;
								flex-direction:column;
								justify-content:center;
								display: none;
								h4 { font-size: 3vmin; margin-bottom: 1vmin; }
								p { font-size: 1.7vmin; }
							}
							@include screen('tablet') {
								$galleryM:1vmin;
								width: calc((100% / 3) - (#{$galleryM} * 2));
								margin: $galleryM;
								padding-bottom: 17.42%;
								figcaption {
									h4 { font-size: 2.5vw; margin-bottom: 0.5vw;}
									p { font-size: 1.7vw; }
								}
							}
							@include screen('tablet2') {
								width: calc((100% / 2) - (#{$galleryM} * 2));
								padding-bottom: 26.19%;
							}
							@include screen('max-mob') {
								width: 100%;
								padding-bottom: 56.3%;
								margin: 20px 0 0;
								figcaption {
									h4 { font-size: 5vw; margin-bottom: 1vw; }
									p { font-size: 3.7vw; }
								}
							}
						}
					}
				}
			}
		}
	}
	
} 

/////////// section:e ///////////
/////////// footer:s ///////////
footer {
	@include lineH(50px);
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,.5);
	background-color: $mainColor;
	font-weight: 300;
}
/////////// footer:e ///////////
@include screen('max-mob') {
	$navH:10vh;
	$subNavH:65px;
	$subP:5vw;
	header {
		height: $navH;
		padding: 0 3vw;
		h1.logo { width: $navH; }
		.menu {
			flex-direction:column;
			justify-content:center;
			align-items: flex-end;
			button.m-nav { 
				@include WH(35px,35px);
				display: block;
				position: relative;
				p {
					@include WH(100%,3px);
					@include transition;
					border-radius: 2px;
					background-color: $mainColor;
					margin-bottom: 8px;
					&:last-child { margin-bottom: 0; }
				}
				&.on p {
					position: absolute;
					&:first-child {
						transform: rotate(-45deg);
					}
					&:nth-child(2) {display: none;}
					&:last-child {
						transform: rotate(45deg);
					}
				}
			}
			.menu-list {
				@include position($p:fixed,$t:$navH,$l:0);
				@include transition;
				width: 100%;
				height: 0;
				overflow:hidden;
				-webkit-overflow-scrolling:touch;
				&.down { top:$subNavH; height: 188px; border-top: 1px solid #fff;}
				ul {
					flex-direction:column;
					font-size: 1.4rem;
					background-color: $subNavC;
					li {
						padding: 14px 0;
						margin-left: 0;
						text-align: center;
						width: 100%;
					}
				}
			}
			
		}
		&.subNav {
			height: $subNavH;
			h1.logo { width: $subNavH; }
		}
	}
	.container > article#scrollPage section {
		&.portfolio, &.about, &.profile {
			padding:$subNavH+10 $subP;
		}
	}
}
