@charset "UTF-8";
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-light.eot');
  src: url('../font/notokr-light.woff2') format('woff2'),
  url('../font/notokr-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-regular.eot');
  src: url('../font/notokr-regular.woff2') format('woff2'),
  url('../font/notokr-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-medium.eot');
  src: url('../font/notokr-medium.woff2') format('woff2'),
  url('../font/notokr-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'notokr';
  src: url('../font/notokr-bold.eot');
  src: url('../font/notokr-bold.woff2') format('woff2'),
  url('../font/notokr-bold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'DidactGothic';
  src: url('../font/DidactGothic-Regular.eot');
  src: url('../font/DidactGothic-Regular.woff2') format('woff2'),
  url('../font/DidactGothic-Regular.woff') format('woff');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 400;
}
/* CSS 초기화 */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}
html {font-family: 'DidactGothic','notokr',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",'sans-serif';font-size: 10px; scroll-behavior: smooth;word-break:keep-all}
body {background-color: #fff;font-size: 1.5rem;font-weight: 400;color: #222; scroll-behavior: smooth;width: 100%; overflow:hidden;
	-webkit-overflow-scrolling:touch;}
li {list-style: none;}
button {background-color: transparent; cursor: pointer;font-family: 'DidactGothic','notokr',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",'sans-serif';font-size: 10px; letter-spacing: 1px; color: #222;}
aside, details, figcaption, figure, footer, header, hgroup, menu, nav{display: block;}
a {text-decoration: none;}