<html lang="ko">
    <head>
        <title>ahnlab ADS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--파비콘 공통:s-->
        <link rel="shortcut icon" href="https://image.ahnlab.com/favicon/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="https://image.ahnlab.com/favicon//favicon.ico">
        <link rel="icon" type="image/png" sizes="152x160" href="https://image.ahnlab.com/favicon/favicon_152.png">
        <link rel="icon" type="image/png" sizes="144x160" href="https://image.ahnlab.com/favicon/favicon_144.png">
        <link rel="icon" type="image/png" sizes="120x120" href="https://image.ahnlab.com/favicon/favicon_120.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://image.ahnlab.com/favicon/favicon_96.png">
        <link rel="icon" type="image/png" sizes="72x72" href="https://image.ahnlab.com/favicon/favicon_72.png">
        <link rel="icon" type="image/png" sizes="57x57" href="https://image.ahnlab.com/favicon/favicon_57.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://image.ahnlab.com/favicon/favicon_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://image.ahnlab.com/favicon/favicon_16.png">
        <!--파비콘 공통:e-->
        <link rel="stylesheet" type="text/css" href="../../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../../css/common.css">
        <link rel="stylesheet" type="text/css" href="../../css/lib/daterangepicker_popup.css">
        <link rel="stylesheet" type="text/css" href="../../css/lib/jquery.dataTables.css">
        <link type="text/css" rel="styleSheet" href="//unpkg.com/swiper/swiper-bundle.css">
        <link type="text/css" rel="stylesheet" href="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/style.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
        <script type="text/javascript" src="../../js/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../../js/lib/daterangepicker_popup.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/buttons.html5.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/buttons.colVis.min.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/modules/data.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/modules/drilldown.js"></script>
        <script type="text/javascript" src="../../js/chart.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery.techbytarun.excelexportjs.js"></script>
        <script type="text/javascript" src="../../js/table.js"></script>
        <script type="text/javascript" src="../../js/lib/dropzone/dropzone.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="../../js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/js/content-script/page_context.js"></script>
    </head>
    <body naver_screen_capture_injected="true">
        <div id="loadingBg" class="complete">
            loading...
        </div>
        <header class="mainHeader">
            <div data-include-path="../../layout/header.html"></div>
        </header>
        <div id="wrap">
            <h2 class="location">광고<span></span>광고등록</h2>
            <div class="contents">
                <form id="advertiserLoadForm" name="advertiserLoadForm" method="post">
                    <section class="border-b">
                        <input type="hidden" id="csrf" name="ci_csrf_token" value="">
                        <input type="hidden" name="copySiteCode" id="loadSiteCode" value="">
                        <input type="hidden" name="copySvcType" id="copySvcType" value="">
                        <input type="hidden" name="mode" value="create">
                        <input name="advrtsTpCodes[01][]" type="hidden" value="01">
					    <!--베이스광고 -->
                        <div>
                            <h4>타겟팅 설정</h4>
                            <div class="btn_checkbox">
                                <ul>
                                    <li><input type="checkbox" name="advrtsTpCodes2[01][]" id="c_01_01" class="hidden " value="01" onclick="seltpcode();"><label for="c_01_01">베이스 광고</label></li>
                                    <li><input type="checkbox" name="advrtsTpCodes2[01][]" id="c_01_28" class="hidden " value="28" checked="" onclick="seltpcode();"><label for="c_01_28">오디언스 매칭</label></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </form>
                <section>
                    <div class="input50">
                        <h4>캠페인명</h4>
                        <input type="text" placeholder="제목을 입력 하세요">
                    </div>
                </section>
                <section>
                    <div>
						<h4>소재연결</h4>
						<div class="customSelect">
							<select name="crtSize">
								<option value="">소재 사이즈 선택</option>
								<option value="17" onclick="CCC();">300x250</option>
								<option value="31" onclick="CCC();">970x90</option>
							</select>
						</div>
						<button type="button" class="modalOpen crt_list" data-url="">이미지 선택</button>
					</div>
                </section>
                <section>
                    <div class="optionBox">
                        <h4>기간 설정</h4>
                        <div class="btn_checkbox">
                            <div class="date">
                                <h4 class="hidden">날짜선택</h4>
                                <div class="calendar">
                                    <div class="icon"></div>
                                    <div class="dateChoice">
                                        <input type="text" class="dateInput" value="" readonly="readonly" autocomplete="false">
                                        <input type="hidden" name="sDate" value="20210301">
                                        <input type="hidden" name="eDate" value="20210315">
                                    </div>
                                </div>
                            </div>

                            <ul class="allCheckItems">
                                <li><input type="checkbox" id="allWeek" class="hidden"><label for="allWeek">모든 요일</label></li>
                                <li><input type="checkbox" id="weekdayAll" class="hidden"><label for="weekdayAll">평일</label></li>
                                <li><input type="checkbox" id="weekendAll" class="hidden"><label for="weekendAll">주말</label></li>
                            </ul>
                            <ul class="dayCheckList">
                                <li><input type="checkbox" name="mon" id="mon" class="hidden week weekdayAll" value="Y"><label for="mon">월</label></li>
                                <li><input type="checkbox" name="tue" id="tue" class="hidden week weekdayAll" value="Y"><label for="tue">화</label></li>
                                <li><input type="checkbox" name="wed" id="wed" class="hidden week weekdayAll" value="Y"><label for="wed">수</label></li>
                                <li><input type="checkbox" name="thu" id="thu" class="hidden week weekdayAll" value="Y"><label for="thu">목</label></li>
                                <li><input type="checkbox" name="fri" id="fri" class="hidden week weekdayAll" value="Y"><label for="fri">금</label></li>
                                <li><input type="checkbox" name="sat" id="sat" class="hidden week weekendAll" value="Y"><label for="sat">토</label></li>
                                <li><input type="checkbox" name="sun" id="sun" class="hidden week weekendAll" value="Y"><label for="sun">일</label></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <h4>시간대 설정</h4>
                        <div class="btn_checkbox">
                            <ul class="allCheckItems">
                                <li><input type="checkbox" name="timeAll" id="timeAll" class="hidden"><label for="timeAll">전체</label></li>
                            </ul>
                            <div class="timesSettingWrap">
                                <ul class="time_text">
                                    <li>00시</li>
                                    <li>01시</li>
                                    <li>02시</li>
                                    <li>03시</li>
                                    <li>04시</li>
                                    <li>05시</li>
                                    <li>06시</li>
                                    <li>07시</li>
                                    <li>08시</li>
                                    <li>09시</li>
                                    <li>10시</li>
                                    <li>11시</li>
                                    <li>12시</li>
                                    <li>13시</li>
                                    <li>14시</li>
                                    <li>15시</li>
                                    <li>16시</li>
                                    <li>17시</li>
                                    <li>18시</li>
                                    <li>19시</li>
                                    <li>20시</li>
                                    <li>21시</li>
                                    <li>22시</li>
                                    <li>23시</li>
                                </ul>
                                <ol class="timeSetting ui-selectable">
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo00" class="hidden hhNo ui-selectee" value="00" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo01" class="hidden hhNo ui-selectee" value="01" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo02" class="hidden hhNo ui-selectee" value="02" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo03" class="hidden hhNo ui-selectee" value="03" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo04" class="hidden hhNo ui-selectee" value="04" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo05" class="hidden hhNo ui-selectee" value="05" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo06" class="hidden hhNo ui-selectee" value="06" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo07" class="hidden hhNo ui-selectee" value="07" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo08" class="hidden hhNo ui-selectee" value="08" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo09" class="hidden hhNo ui-selectee" value="09" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee ui-selected">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo10" class="hidden hhNo ui-selectee" value="10" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee ui-selected">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo11" class="hidden hhNo ui-selectee" value="11" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee ui-selected">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo12" class="hidden hhNo ui-selectee" value="12" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee ui-selected">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo13" class="hidden hhNo ui-selectee" value="13" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee ui-selected">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo14" class="hidden hhNo ui-selectee" value="14" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo15" class="hidden hhNo ui-selectee" value="15" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo16" class="hidden hhNo ui-selectee" value="16" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo17" class="hidden hhNo ui-selectee" value="17" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo18" class="hidden hhNo ui-selectee" value="18" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo19" class="hidden hhNo ui-selectee" value="19" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo20" class="hidden hhNo ui-selectee" value="20" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo21" class="hidden hhNo ui-selectee" value="21" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo22" class="hidden hhNo ui-selectee" value="22" checked="checked">
                                    </span>
                                    </li>
                                    <li class="ui-widget-content  ui-selectee">
                                    <span class="ui-selectee">
                                        <input type="checkbox" name="hhNoList[]" id="hhNo23" class="hidden hhNo ui-selectee" value="23" checked="checked">
                                    </span>
                                    </li>
                                </ol>
                                <div class="guideTxt">
                                    <p>* 드래그해서 선택할 수 있습니다.<br>* Ctrl로 여러 시간대를 선택 및 해제 할 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <h4>지역 설정</h4>
                        <div class="customSelect">
                            <select class="citySelect">
                                <option>지역을 선택하세요</option>
                                <option value="">전체</option>
                                <option value="">서울특별시</option>
                                <option value="">인천광역시</option>
                                <option value="">대전광역시</option>
                                <option value="">광주광역시</option>
                                <option value="">대구광역시</option>
                                <option value="">울산광역시</option>
                                <option value="">부산광역시</option>
                                <option value="">경기도</option>
                                <option value="">강원도</option>
                                <option value="">충청북도</option>
                                <option value="">충청남도</option>
                                <option value="">전라북도</option>
                                <option value="">전라남도</option>
                                <option value="">경상북도</option>
                                <option value="">경상남도</option>
                                <option value="">제주도</option>
                            </select>
                        </div>
                        <button class="cityListDel">재설정</button>
                        <div class="cityList"></div>
                    </div>
                </section>
                <section>
                    <div>
                        <h4>성별</h4>
                        <div class="btn_checkbox">
                            <ul class="allCheckItems">
                                <li><input type="checkbox" id="gender" class="hidden"><label for="gender">전체</label></li>
                                <li><input type="checkbox" id="male" class="hidden gender"><label for="male">남</label></li>
                                <li><input type="checkbox" id="female" class="hidden gender"><label for="female">여</label></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h4>연령</h4>
                        <div class="btn_checkbox">
                            <ul class="allCheckItems">
                                <li><input type="checkbox" id="age" class="hidden"><label for="age">전체</label></li>
                                <li><input type="checkbox" id="13" class="hidden age"><label for="13">~ 13</label></li>
                                <li><input type="checkbox" id="19" class="hidden age"><label for="19">14 ~ 19</label></li>
                                <li><input type="checkbox" id="26" class="hidden age"><label for="26">20 ~ 26</label></li>
                                <li><input type="checkbox" id="32" class="hidden age"><label for="32">27 ~ 32</label></li>
                                <li><input type="checkbox" id="40" class="hidden age"><label for="40">33 ~ 40</label></li>
                                <li><input type="checkbox" id="46" class="hidden age"><label for="46">41 ~ 46</label></li>
                                <li><input type="checkbox" id="56" class="hidden age"><label for="56">47 ~ 56</label></li>
                                <li><input type="checkbox" id="57" class="hidden age"><label for="57">57 ~</label></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <h4>카테고리</h4>
                    <div class="input25">
                        <input type="text" class="mr-20 txtL" value="패션 > 여성패션 > 모던시크" readonly />
                        <button type="button" onclick="window.open('cate_pop.html','pop','resizable=yes,width=600,height=780');">선택</button>
                    </div>
                </section>
                <section>
                    <div>
                        <h4>예산설정</h4>
                        <ul class="btn_checkbox">
                            <li><input type="radio" name="limit" id="unlimited" class="hidden"><label for="unlimited">무제한</label></li>
                            <li><input type="radio" name="limit" id="limit" class="hidden"><label for="limit">제한</label></li>
                        </ul>
                    </div>
                    <div class="input25">
                        <h4>월예산입력</h4>
                        <input type="number" value="" />
                    </div>
                    <div class="input25">
                        <h4>서비스비율</h4>
                        <input type="text" value="%" />
                    </div>
                    <div class="input25">
                        <h4>일별예산</h4>
                        <input type="number" value="" />
                    </div>
                    <div class="input25">
                        <h4>시간대별예산</h4>
                        <input type="number" value="" />
                    </div>
                </section>
                <section>
                    <div class="input25">
                        <h4>계약조건</h4>
                        <div class="customSelect">
                            <select name="">
                                <option value="" selected="">선택</option>
                                <option value="">CPC</option>
                                <option value="">CPM</option>
                            </select>
                        </div>
                    </div>
                    <div class="input25">
                        <h4 class="W-60">단가</h4>
                        <input type="number" />
                    </div>
                </section>
                <section>
                    <div>
                        <h4>지면 등록</h4>
                        <input type="text" class="w-200 mr-20" />
                            <button type="button" class="mr-10">검색</button>
                            <button type="button">전체지면</button>
                    </div>
                    <div class="mediaRegister">
                        <div>
                            <p class="title" id="mediaScriptTitle">등록 지면 (<span id="mediaScriptCount">3</span>)</p>
                            <div>
                                <ul id="searchMediaScriptList"></ul>
                            </div>
                        </div>
                        <div>
                            <p class="title" id="mediaScriptTitle">제외대상 지면(<span id="mediaScriptNoCount">2</span>)</p>
                            <div>
                                <ul id="searchMediaScriptList"></ul>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="centerBox">
                    <button type="button" class="confirm">등록</button>
                    <button type="button" class="cancel">취소</button>
                </div>
            </div>
            <footer id="footer"></footer> 
        </div>
    </body>
    <audio src="" id="naver_dic_audio_controller" controls="controls" style="display: none;"></audio>
</html>