<html lang="ko">
    <head>
        <title>ahnlab ADS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--파비콘 공통:s-->
        <link rel="shortcut icon" href="https://image.ahnlab.com/favicon/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="https://image.ahnlab.com/favicon//favicon.ico">
        <link rel="icon" type="image/png" sizes="152x160" href="https://image.ahnlab.com/favicon/favicon_152.png">
        <link rel="icon" type="image/png" sizes="144x160" href="https://image.ahnlab.com/favicon/favicon_144.png">
        <link rel="icon" type="image/png" sizes="120x120" href="https://image.ahnlab.com/favicon/favicon_120.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://image.ahnlab.com/favicon/favicon_96.png">
        <link rel="icon" type="image/png" sizes="72x72" href="https://image.ahnlab.com/favicon/favicon_72.png">
        <link rel="icon" type="image/png" sizes="57x57" href="https://image.ahnlab.com/favicon/favicon_57.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://image.ahnlab.com/favicon/favicon_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://image.ahnlab.com/favicon/favicon_16.png">
        <!--파비콘 공통:e-->
        <link rel="stylesheet" type="text/css" href="../../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../../css/common.css">
        <link rel="stylesheet" type="text/css" href="../../css/lib/daterangepicker_popup.css">
        <link rel="stylesheet" type="text/css" href="../../css/lib/jquery.dataTables.css">
        <link type="text/css" rel="styleSheet" href="//unpkg.com/swiper/swiper-bundle.css">
        <link type="text/css" rel="stylesheet" href="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/style.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
        <script type="text/javascript" src="../../js/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../../js/lib/daterangepicker_popup.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/buttons.html5.min.js"></script>
        <script type="text/javascript" src="../../js/lib/dataTables/buttons.colVis.min.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/modules/data.js"></script>
        <script type="text/javascript" src="../../js/lib/highcharts/modules/drilldown.js"></script>
        <script type="text/javascript" src="../../js/chart.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery.techbytarun.excelexportjs.js"></script>
        <script type="text/javascript" src="../../js/table.js"></script>
        <script type="text/javascript" src="../../js/lib/dropzone/dropzone.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="../../js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/js/content-script/page_context.js"></script>
    </head>
    <body naver_screen_capture_injected="true">
        <div id="loadingBg" class="complete">
            loading...
        </div>
        <header class="mainHeader">
            <div data-include-path="../../layout/header.html"></div>
        </header>
        <div id="wrap">
            <h2 class="location">광고<span></span>소재 관리<span></span>소재 등록</h2>
            <div class="contents">
                <section>
                    <div class="input50">
                        <h4>소재명</h4>
                        <input type="text" name="creativeName" id="creativeName" placeholder="제목을 입력하세요." value="">
                    </div>
                </section>
                <section>
                    <div class="input50">
                        <h4>랜딩 URL</h4>
                        <input type="text" name="siteUrl" id="siteUrl" placeholder="http://" value="">
                    </div>
                </section>
                <section>
                    <div>
                        <h4>이미지 업로드</h4>
                        <div class="dropzone dz-clickable dropzone_sample" id="dropzone_sample"><div class="dz-default dz-message"><span></span></div></div>
    
                    </div>
                     <div>
                        <h4>업로드 성공</h4>
                        <ul class="dropzonePreview">
                            <li>
                                <img src="http://img.mobon.net/Frtb/images/preview/300x250/e300-250.png">
                            </li>
                            <li>
                                <img src="http://img.mobon.net/Frtb/images/preview/728x90/ca728x90.jpg">
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>업로드 실패</h4>
                        <ul id="fileUploadFile" class="dropzonePreview">
                            <li>
                                <img src="http://img.mobon.net/Frtb/images/preview/728x90/ca728x90.jpg">
                            </li>
                            <li>
                                <img src="http://img.mobon.net/Frtb/images/preview/300x250/e300-250.png">
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="centerBox">
                    <button type="button" class="confirm">저장</button>
                    <button type="button" class="cancel">취소</button>
                </div>
            </div>
            <footer id="footer"></footer> 
        </div>
    </body>
    <audio src="" id="naver_dic_audio_controller" controls="controls" style="display: none;"></audio>
</html>