@charset 'utf-8';
@import url('normalize.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {font-weight: normal;}
em {font-style: normal;}
a {color:inherit;text-decoration: none;}
button {border: none;outline: none;}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;padding: 0;
}

h1,h2,h3,h4,h5,h6 {font-weight: normal;}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="tel"] {outline: none;}

input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px white inset;}
input:-webkit-autofill {-webkit-text-fill-color: #5f17f1 !important;}


html, body {
	width: 100%;min-height: 100%;
	font-family: 'NotoSansR';
	font-size: 12px;
	color: #333;
}
body {
	background: #efefef;
}
body.container-full {height: 100%;min-height: 100%;}
/* @font-face {
	font-family: 'NotoSansL';
	src: url('../fonts/notokr-light.eot'); IE9 Compat Modes
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'), IE6-IE8
	   url('../fonts/notokr-light.woff') format('woff')
} */

@font-face {
	font-family: 'NotoSansR';
	src: url('../fonts/notokr-regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/notokr-regular.woff') format('woff')
}

@font-face {
	font-family: 'NotoSansM';
	src: url('../fonts/notokr-medium.eot'); 
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/notokr-medium.woff') format('woff')
}
@font-face {
	font-family: 'NotoSansB';
	src: url('../fonts/notokr-bold.eot'); 
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/notokr-bold.woff') format('woff') 
}

@font-face {
	font-family: 'GothamM';
	src: url('../fonts/Gotham-Medium_0.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Gotham-Medium_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/Gotham-Medium_0.woff') format('woff')
}

input::-ms-clear {
    display: none;
}

.fl {float: left !important;}
.fr {float: right !important;}
.fn {float: none !important;}

.clear-width {width: auto !important;}
.clear-height {height: auto !important;}

.tal {text-align: left !important;}
.tar {text-align: right !important;}
.tac {text-align: center !important;}

.txt-bold {font-weight: bold !important;}
.txt-normal {font-weight: normal !important;}

.txt-color-main {color:#85b74e !important;}

.border-b-n {border-bottom: none !important;}

.clearfix {clear: both;}
.clearfix:after {display: block;content: '';clear: both;}

.row {width: 100%;clear: both;}
.row:after {display: block;content: '';clear: both;}

.outwrapper .inner {position:relative;}

.vat {vertical-align: top !important;}
.vam {vertical-align: middle !important;}
.vab {vertical-align: bottom !important;}

.m-0 {margin:0 !important;}

.m-t-0 {margin-top: 0 !important;}
.m-t-5 {margin-top: 5px !important;}
.m-t-10 {margin-top: 10px !important;}
.m-t-15 {margin-top: 15px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-t-25 {margin-top: 25px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-t-35 {margin-top: 35px !important;}
.m-t-40 {margin-top: 40px !important;}
.m-t-45 {margin-top: 45px !important;}
.m-t-50 {margin-top: 50px !important;}
.m-t-55 {margin-top: 55px !important;}
.m-t-60 {margin-top: 60px !important;}
.m-t-66 {margin-top: 65px !important;}
.m-t-70 {margin-top: 70px !important;}

.m-b-0 {margin-bottom: 0 !important;}
.m-b-5 {margin-bottom: 5px !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-b-15 {margin-bottom: 15px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-b-25 {margin-bottom: 25px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-b-35 {margin-bottom: 35px !important;}
.m-b-40 {margin-bottom: 40px !important;}
.m-b-45 {margin-bottom: 45px !important;}
.m-b-50 {margin-bottom: 50px !important;}
.m-b-60 {margin-bottom: 65px !important;}
.m-b-65 {margin-bottom: 70px !important;}
.m-b-70 {margin-bottom: 75px !important;}

.m-l-0 {margin-left: 0 !important;}
.m-l-5 {margin-left: 5px !important;}
.m-l-10 {margin-left: 10px !important;}
.m-l-15 {margin-left: 15px !important;}
.m-l-20 {margin-left: 20px !important;}
.m-l-25 {margin-left: 25px !important;}
.m-l-30 {margin-left: 30px !important;}
.m-l-35 {margin-left: 35px !important;}
.m-l-40 {margin-left: 40px !important;}
.m-l-45 {margin-left: 45px !important;}
.m-l-50 {margin-left: 50px !important;}
.m-l-55 {margin-left: 55px !important;}
.m-l-60 {margin-left: 60px !important;}
.m-l-65 {margin-left: 65px !important;}
.m-l-70 {margin-left: 70px !important;}

.m-r-0 {margin-right: 0 !important;}
.m-r-5 {margin-right: 5px !important;}
.m-r-10 {margin-right: 10px !important;}
.m-r-15 {margin-right: 15px !important;}
.m-r-20 {margin-right: 20px !important;}
.m-r-25 {margin-right: 25px !important;}
.m-r-30 {margin-right: 30px !important;}
.m-r-35 {margin-right: 35px !important;}
.m-r-40 {margin-right: 40px !important;}
.m-r-45 {margin-right: 45px !important;}
.m-r-50 {margin-right: 50px !important;}
.m-r-55 {margin-right: 55px !important;}
.m-r-60 {margin-right: 60px !important;}
.m-r-65 {margin-right: 65px !important;}
.m-r-70 {margin-right: 70px !important;}

.p-0 {padding:0 !important;}

.p-t-0 {padding-top: 0 !important;}
.p-t-5 {padding-top: 5px !important;}
.p-t-10 {padding-top: 10px !important;}
.p-t-15 {padding-top: 15px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-t-25 {padding-top: 25px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-t-35 {padding-top: 35px !important;}
.p-t-40 {padding-top: 40px !important;}
.p-t-45 {padding-top: 45px !important;}
.p-t-50 {padding-top: 50px !important;}
.p-t-55 {padding-top: 55px !important;}
.p-t-60 {padding-top: 60px !important;}
.p-t-65 {padding-top: 65px !important;}
.p-t-70 {padding-top: 70px !important;}

.p-b-0 {padding-bottom: 0 !important;}
.p-b-5 {padding-bottom: 5px !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-b-15 {padding-bottom: 15px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-b-25 {padding-bottom: 25px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-b-35 {padding-bottom: 35px !important;}
.p-b-40 {padding-bottom: 40px !important;}
.p-b-45 {padding-bottom: 45px !important;}
.p-b-50 {padding-bottom: 50px !important;}
.p-b-55 {padding-bottom: 55px !important;}
.p-b-60 {padding-bottom: 60px !important;}
.p-b-65 {padding-bottom: 65px !important;}
.p-b-70 {padding-bottom: 70px !important;}

.p-l-0 {padding-left: 0 !important;}
.p-l-5 {padding-left: 5px !important;}
.p-l-10 {padding-left: 10px !important;}
.p-l-15 {padding-left: 15px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-l-25 {padding-left: 25px !important;}
.p-l-30 {padding-left: 30px !important;}
.p-l-35 {padding-left: 35px !important;}
.p-l-40 {padding-left: 40px !important;}
.p-l-45 {padding-left: 45px !important;}
.p-l-50 {padding-left: 50px !important;}
.p-l-55 {padding-left: 55px !important;}
.p-l-60 {padding-left: 60px !important;}
.p-l-65 {padding-left: 65px !important;}
.p-l-70 {padding-left: 70px !important;}

.p-r-0 {padding-right: 0 !important;}
.p-r-5 {padding-right: 5px !important;}
.p-r-10 {padding-right: 10px !important;}
.p-r-15 {padding-right: 15px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-r-25 {padding-right: 25px !important;}
.p-r-30 {padding-right: 30px !important;}
.p-r-35 {padding-right: 35px !important;}
.p-r-40 {padding-right: 40px !important;}
.p-r-45 {padding-right: 45px !important;}
.p-r-50 {padding-right: 50px !important;}
.p-r-55 {padding-right: 55px !important;}
.p-r-60 {padding-right: 60px !important;}
.p-r-65 {padding-right: 65px !important;}
.p-r-70 {padding-right: 70px !important;}















/* Guide */
#guide {width: 100%;position: relative;}
#guide .nav {display: block;background: #333;width: 100%;height: 50px;line-height:45px;text-align: center;
position: fixed;top: 0;z-index: 100;}
#guide .nav li {display: inline-block;vertical-align: middle;margin:0 20px;}
#guide .nav li a {color:#fff;font-size: 18px;}
#guide .cont {width: 1000px;margin:0 auto;padding: 100px 0;}
#guide .cont > h1 {font-size: 30px;color:#333;font-weight: bold;display: block;width: 100%;border-bottom: 2px solid #333;padding-bottom: 10px;margin-bottom:50px;}
#guide .boxWrap {width: 100%;clear: both;margin-bottom: 100px;}
#guide .boxWrap h2 {font-size: 20px;color:#333;font-weight: bold;display: block;margin-bottom: 10px;}
#guide .boxWrap .code-box {width: 100%;clear: both;margin-bottom: 20px;overflow: hidden;}
#guide .boxWrap xmp {display: block;background: #333;border: 3px dashed #fff;color:#fff;font-family: Verdana;padding: 20px;line-height: 120%;}
#guide .color .color-box {width: 200px;display: inline-block;vertical-align: top;margin-right: 20px;overflow: hidden;}
#guide .color .color-box span {display: block;width: 100%;height: 100px;text-align: left;font-family: Verdana;font-size: 13px;line-height: 150%;padding: 20px 0 0 20px;}








