@font-face {
  font-family: 'NOTOSANSCJKKR-R';
  src: url("../font/NOTOSANSCJKKR-REGULAR.OTF"); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 500; }

body {
  width: 100%;
  height: 100%;
  font-family: 'NOTOSANSCJKKR-R', sans-serif;
  letter-spacing: -1px; }

html {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  font-size: 63%;
  color: #262626;
  background-color: #eff2f6; }

::-webkit-scrollbar {
  display: none; }

element::-webkit-scrollbar {
  display: none; }

h1 {
  font-size: 4.4rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

img {
  width: 100%; }

a, a:hover, a:focus {
  outline: 0;
  display: inline-block;
  color: #262626; }

li {
  float: left;
  list-style: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: solid 1px #dedede;
  height: 55px;
  z-index: 1000; }
  header .cat-menu {
    width: 20px;
    height: 20px;
    float: left;
    padding: 5px;
    margin-top: 13px;
    margin-left: 8px; }
    header .cat-menu:before {
      font-size: 20px; }
    header .cat-menu p {
      width: 100%;
      height: 2px;
      background-color: #b1b1b1;
      border-radius: 2px; }
      header .cat-menu p:nth-child(2) {
        margin: 7px 0;
        width: 15px; }
  header .logo {
    background-image: url("../img/svg/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 130px;
    margin: 0 auto; }
    @media (max-width: 320px) {
      header .logo {
        width: 110px; } }
  header .icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 13px;
    margin-right: 10px; }
    @media (max-width: 320px) {
      header .icon {
        margin-right: 6px; } }
    header .icon div {
      width: 20px;
      height: 20px;
      padding: 5px;
      float: left;
      color: #b2b2b2; }
      header .icon div:before {
        font-size: 20px; }
      header .icon div:first-child {
        margin-right: 8px; }
        @media (max-width: 320px) {
          header .icon div:first-child {
            margin-right: 5px; } }

nav.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-sizing: border-box;
  border-top: solid 1px #eee;
  height: 60px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center; }
  nav.bottom-menu dl {
    display: block;
    padding: 10px 5px 0; }
    nav.bottom-menu dl dt {
      width: 100%;
      height: auto; }
      nav.bottom-menu dl dt:before {
        font-size: 2.4rem; }
    nav.bottom-menu dl dd {
      font-size: 1.2rem;
      padding-top: 3px; }
    nav.bottom-menu dl.active {
      color: #5f66f1; }

.content {
  font-size: 1.1rem;
  position: absolute;
  overflow-y: scroll;
  width: 100%; }
  .content > div {
    display: none;
    height: 100%;
    position: relative; }
    .content > div.active {
      display: block; }
    .content > div .con-top {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 37px;
      z-index: 999;
      background-color: #fff;
      box-sizing: border-box;
      border-bottom: solid 1px #eee; }
      .content > div .con-top p {
        float: right; }
    .content > div ul.shop-list {
      position: absolute; }
      .content > div ul.shop-list li {
        width: 100%;
        height: 50px;
        background-color: #fff;
        box-sizing: border-box;
        border-bottom: solid 1px #eee; }
        .content > div ul.shop-list li:last-child {
          border: 0; }

footer p {
  text-align: center;
  font-size: 1rem;
  color: #b2b2b2;
  height: 30px;
  line-height: 30px; }
