@charset 'utf-8';
@import 'component.css';


/***************************** Login ****************************************
***************************************************************************/
.outwrapper-login {width: 100%;height:100%;display: table;}
.outwrapper-login .wrap {display: table-cell;height:100%;text-align: center;vertical-align: middle;}
.outwrapper-login .inner {width: 450px;text-align: center;margin:0 auto;}
.outwrapper-login .box {width: 100%;background: #fff;padding: 50px 50px 55px 50px;box-shadow: 6px 3px 17px 3px rgba(0,0,0,.1)}
.outwrapper-login h1 {display: block;margin:0 auto 74px auto;}
.outwrapper-login h2 {display:block;margin: 0 0 48px 0;font-size: 30px;color:#5f17f1;letter-spacing: -.3px;font-family: 'GothamM';}
.outwrapper-login input {height: 38px;width: 100%;border:1px solid #896cc3;margin-bottom: 12px;color:#5f17f1;font-size:18px;transition: all 0.2s ease-in-out;padding: 0 0 0 45px;}
.outwrapper-login input[type='text'] {background: #fff url(../images/ico-login-email.png) 12px 11px no-repeat;}
.outwrapper-login input[type='password'] {background: #fff url(../images/ico-login-pw.png) 16px 7px no-repeat;}
.outwrapper-login input[type='text'].on,
.outwrapper-login input[type='text']:focus {background: #fff url(../images/ico-login-email.png) -30px 11px no-repeat;padding: 0 0 0 12px;}
.outwrapper-login input[type='password'].on,
.outwrapper-login input[type='password']:focus {background: #fff url(../images/ico-login-pw.png) -30px 7px no-repeat;padding: 0 0 0 12px;}
.outwrapper-login input:focus {border:1px solid #5f17f1;}
.outwrapper-login .valid {width: 100%;height: 24px;text-align: right;}
.outwrapper-login .valid p {font-size: 16px;color:#f651ba;}
.outwrapper-login .btn-login {display:block;width: 77%;max-width: 270px;margin:  30px auto 0 auto;background: #5f17f1;color:#fff;text-align: center;font-size: 23px;font-family: 'GothamM';
padding: 20px 0;border-radius: 10px;box-shadow: 2px 2px 10px 3px rgba(112,110,173,.1)}
.outwrapper-login .btn-findPw {display:inline-block;clear:both;margin:15px 0 0 0;text-align: center;color:#5f17f1;font-size: 18px;border-bottom: 2px solid #baa7f8;}



/***************************** 레이아웃  **************************************
***************************************************************************/
.outwrapper {width: 100%;height: 100%;min-width: 1400px;margin:0 auto;overflow: hidden;}

.header {position:fixed;top:0;z-index:50;width: 100%;height: 48px;background:#fff;border-bottom: 2px solid #5f17f1;box-shadow: 2px 2px 10px 3px rgba(140,140,140,.15)}
.header .inner {max-width: 1400px;margin:0 auto;}
.header h1,
.header nav {display: block;float: left;}
.header h1 {width: 65px;margin: 3px 140px 0 0;}
.header h1 img {width: 100%;}
.header nav ul {font-size: 0;}
.header nav ul li {display: inline-block;width:144px;height: 48px;text-align: center;border:1px solid #939393;border-bottom:none;transition: all 0.2s ease-in-out;}
.header nav ul li:nth-child(2) {border-left: none;border-right: none;}
.header nav ul li a {display: block;width: 100%;height: 100%;padding: 12px 0 0 0;}
.header nav ul li span {color:#939393;font-size: 18px;}
.header nav ul li:hover {background:rgba(136,81,246,.3);box-shadow: 2px 2px 11px 4px rgba(112,110,173,.1);}
.header nav ul li.on {background:#5f17f1;box-shadow: 2px 2px 11px 4px rgba(112,110,173,.1)}
.header nav ul li:hover span {color:#5f17f1;}
.header nav ul li.on span {color:#fff;}
.header .name-company,
.header .btn-logout {display: inline-block;vertical-align: middle;font-family: 'NotoSansB';}
.header .name-company {margin: 5px 0 0 0;color:#5f17f1;font-size: 14px;}
.header .btn-logout {width:85px;height:34px;margin: 7px 0 0 30px;background:#5f17f1;text-align:center;color:#fff;font-size: 14px;padding: 10px 0 0 0;border-radius: 5px;}

.section-contents {width: 100%;height:100%;}



/*********** 신규캠페인 ***********/
.sec-camp-new {width: 1400px;height:100%;margin:0 auto;position: relative;display: table;}

/* 캠페인 선택 */
.sec-camp-new .sub-makecamp {text-align: center;display: table-cell;vertical-align: middle;font-size: 0;}
.sec-camp-new .sub-makecamp .box-make {width: 27.6%;min-width: 376px;height: 730px;display: inline-block;vertical-align: top;background:#fff;margin:0 55px;box-shadow:5px 4px 20px 7px rgba(0,0,0,.1);transition: all 0.2s ease-in-out;}
.sec-camp-new .sub-makecamp .box-make .title {height:50px;padding: 15px 0 0 0;font-size: 20px;color:#fff;font-family: 'GothamM';text-align: center;}
.sec-camp-new .sub-makecamp .box-make dl {display: block;width: 100%;text-align: center;margin: 70px 0 0 0;}
.sec-camp-new .sub-makecamp .box-make dl dt {display:block;font-size: 25px;font-family: 'NotoSansB';line-height: 35px;letter-spacing: -2px;}
.sec-camp-new .sub-makecamp .box-make dl dd {font-size: 18px;letter-spacing: -1px;line-height: 30px;}
.sec-camp-new .sub-makecamp .box-make .btn-camp-make {display:block;width: 71.5%;height:50px;line-height:48px;color:#fff;font-size:23px;font-family: 'NotoSansM';
	margin:40px auto 30px auto;border-radius: 10px;box-shadow: 2px 2px 10px 3px rgba(0,0,0,.1);text-shadow: 2px 2px 2px rgba(0,0,0,.9);}
.sec-camp-new .sub-makecamp .box-make > ul {display: block;width: 71.5%;margin:0 auto;text-align: left;font-size: 16px;letter-spacing: -1px;line-height: 25px;}
.sec-camp-new .sub-makecamp .box-make > ul strong {font-family: 'NotoSansB';}
.sec-camp-new .sub-makecamp .box-make-stad .btn-camp-make,
.sec-camp-new .sub-makecamp .box-make-stad .title {background:#5f17f1;}
.sec-camp-new .sub-makecamp .box-make-stad dl {padding: 130px 0 0 0;background: url(../images/picto-select.gif) top center no-repeat;}
.sec-camp-new .sub-makecamp .box-make-stad dl dt {color:#5f17f1;margin-bottom: 40px;}
.sec-camp-new .sub-makecamp .box-make-stad dl dd {color:#3e3e3e;}
.sec-camp-new .sub-makecamp .box-make-stad ul li {margin-left:-5px;}
.sec-camp-new .sub-makecamp .box-make-prem .btn-camp-make,
.sec-camp-new .sub-makecamp .box-make-prem .title {background:#6d10ae;}
.sec-camp-new .sub-makecamp .box-make-prem dl {padding: 110px 0 0 0;background: url(../images/picto-crown.gif) top center no-repeat;}
.sec-camp-new .sub-makecamp .box-make-prem dl dt {color:#6d10ae;margin: 0 0 22px 0;}
.sec-camp-new .sub-makecamp .box-make-prem dl dd {color:#3e3e3e;}
.sec-camp-new .sub-makecamp .box-make-prem ul ul {margin-left: -8px;}

/* 캠페인 목적 */
.sec-camp-new .sub-purposecamp {display: table-cell;vertical-align: middle;text-align: center;font-size: 0}
.sec-camp-new .sub-purposecamp h2 {display:block;margin:0 0 50px 0;font-size: 40px;color:#5f17f1;letter-spacing: -2px;font-family: 'NotoSansB';}
.sec-camp-new .sub-purposecamp .box-pur {width: 33.333%;max-width: 350px;min-height:580px;margin-left:74px;display: inline-block;vertical-align: top;background:#fff;box-shadow: 2px 2px 10px 3px rgba(0,0,0,.1);transition: all 0.2s ease-in-out;}
.sec-camp-new .sub-purposecamp .box-pur:first-child {margin-left: 0;}
.sec-camp-new .sub-purposecamp img {display: block;margin-bottom: 50px;width: 100%;height: 290px;}
.sec-camp-new .sub-purposecamp strong {display: block;color:#5f17f1;text-align: center;font-family: 'NotoSansB';font-size: 25px;}
.sec-camp-new .sub-purposecamp p {display:block;height:122px;overflow:hidden;margin:35px 0 0 0;padding: 0 50px;text-align: justify;font-size: 16px;color:#5e5e5e;line-height: 25px;letter-spacing: -1px;}

/* 등록 */
.sub-regi {height: 100%;padding: 155px 0;}
.sub-regi .box-step {position: absolute;top: 0;left: 0;}
.sub-regi .box-step ul li {width: 100%;line-height: 35px;position: relative;}
.sub-regi .box-step ul li span {font-size: 20px;letter-spacing: -1px;color:#767676;}
.sub-regi .box-step ul li.past span,
.sub-regi .box-step ul li.on span {font-family: 'NotoSansB';color:#5f17f1;}
.sub-regi .box-step ul li.on:after {display: block;content: '';width: 17px;height: 17px;background: url(../images/ico-step-on.png) top left no-repeat;position: absolute;left: -25px;top: 10px;}
.sub-regi .cont-box {width: 100%;background:#fff;overflow:hidden;box-shadow:5px 4px 20px 7px rgba(0,0,0,.1);}
.sub-regi .cont-box .form-wrap {padding: 0 12px;}
.sub-regi .cont-box h2 {display: block;width: 100%;height: 50px;line-height:48px;padding: 0 0 0 25px;background:#5f17f1;font-family: 'NotoSansM';font-size: 20px;letter-spacing: -1px;color:#fff;}
.sub-regi .cont-box .form-wrap .row {border-bottom: 1px solid #dcdcdc;padding: 20px 13px;}
.sub-regi .cont-box .form-wrap .tit {margin:0 0 15px 0;position: relative;}
.sub-regi .cont-box .form-wrap .tit.fl {margin: 0;}
.sub-regi .cont-box .form-wrap .tit strong {font-size: 20px;color:#000;font-family: 'NotoSansB';letter-spacing: -2px;}
.sub-regi .cont-box .form-wrap .txt-guide {font-size: 16px;color:#5e5e5e;letter-spacing: -1px;transition: all 0.2s ease-in-out;}
.sub-regi .cont-box .form-wrap .tit strong + .txt-guide {margin-top: 5px;}
.sub-regi .cont-box + .cont-btn {margin: 30px auto 0 auto;text-align: right}
.sub-regi .cont-box + .cont-btn .btn-submit,
.sub-regi .cont-box + .cont-btn .btn-next {margin-left: 15px;}

.sub-regi .sub-cont-regiInfo {width: 500px;margin:0 auto;}
.sub-regi .sub-cont-cond {width: 800px;margin:0 auto;}
.sub-regi .sub-cont-cond .form-wrap {height: 710px;padding: 0;}
.sub-regi .sub-cont-cond .form-wrap > .fl,
.sub-regi .sub-cont-cond .form-wrap > .fr {width: 50%;height: 100%;}
.sub-regi .sub-cont-cond .form-wrap > .fl {border-right: 2px solid #dcdcdc;}
.sub-regi .sub-cont-cond .form-wrap .row {padding: 25px;}
.sub-regi .sub-cont-cond .range-slider-age,
.sub-regi .sub-cont-cond .range-slider-influ {height: 100px;padding: 20px 0 0 0;}
.sub-regi .sub-cont-cond .form-wrap textarea {height: 615px;}
.sub-regi .sub-cont-cond .form-wrap > .fr .row {padding-bottom: 0;border-bottom: none;}
.sub-regi .sub-cont-regiInfo .check-sns {}
.sub-regi .sub-cont-regiInfo .check-sns ul li {min-width: auto;width: auto;height: auto;padding: 0;margin: 0;}
.sub-regi .sub-cont-regiInfo .check-sns i {display: inline-block;width: 40px;height: 40px;background: url(../images/ico-sns.png) top left no-repeat;background-position: 0 -40px;
transition: all 0.1s ease-in;}
.sub-regi .sub-cont-regiInfo .check-sns span {display: block;font-size: 16px;color:#5e5e5e;margin:5px 0 0 0;}
.sub-regi .sub-cont-regiInfo .check-sns label {background: #fff;border: none;border:none;line-height: 100%;letter-spacing: -1px;}
.sub-regi .sub-cont-regiInfo .check-sns ul li input[type="checkbox"]:checked + label {background: #fff;border:none;}
.sub-regi .sub-cont-regiInfo .check-sns i.insta {background-position: 0 -40px;}
.sub-regi .sub-cont-regiInfo .check-sns i.facebook {background-position: -40px -40px;}
.sub-regi .sub-cont-regiInfo .check-sns i.youtube {background-position: -80px -40px;}
.sub-regi .sub-cont-regiInfo .check-sns input[type="checkbox"]:checked + label .insta {background-position: 0 0;}
.sub-regi .sub-cont-regiInfo .check-sns input[type="checkbox"]:checked + label .facebook {background-position: -40px 0;}
.sub-regi .sub-cont-regiInfo .check-sns input[type="checkbox"]:checked + label .youtube {background-position: -80px 0;}
 

.sub-regi .sub-cont-contguide {width: 800px;margin:0 auto;}
.sub-regi .sub-cont-contguide .form-wrap {height: 710px;padding: 0;}
.sub-regi .sub-cont-contguide .form-wrap > .fl,
.sub-regi .sub-cont-contguide .form-wrap > .fr {width: 50%;height: 100%;}
.sub-regi .sub-cont-contguide .form-wrap.clear-height > .fl,
.sub-regi .sub-cont-contguide .form-wrap.clear-height > .fr {padding-bottom: 20px;}
.sub-regi .sub-cont-contguide .form-wrap > .fl {border-right: 2px solid #dcdcdc;}
.sub-regi .sub-cont-contguide .form-wrap > .fl .row {padding-bottom: 0;border-bottom: none;}
.sub-regi .sub-cont-contguide .form-wrap .row {padding: 25px;}
.sub-regi .sub-cont-contguide .form-wrap .tit {margin-bottom: 20px;}
.sub-regi .sub-cont-contguide .form-wrap .range-slider-age,
.sub-regi .sub-cont-contguide .form-wrap .range-slider-price {margin-bottom: 50px;}

.sub-regi .form-inside {width: 100%;}
.sub-regi .form-inside > div {width: 100%;clear: both;margin-top: 25px;overflow: hidden;}
.sub-regi .form-inside > div:first-child {margin-top: 0;}
.sub-regi .form-inside strong,
.sub-regi .form-inside .area-input {display: block;}
.sub-regi .form-inside strong {float: left;font-size: 18px;color:#000;font-family: 'NotoSansM';padding: 5px 0 0 0;letter-spacing: -2px;}
.sub-regi .form-inside .area-input {float: right;width: 220px;}




/*********** 진행중 캠페인 ***********/
.sec-camp-ing {width: 1400px;height:100%;margin:0 auto;position: relative;display: table;padding-top: 160px;}

/* 목록 */
.list-camp {width: 1360px;margin:0 auto;}
.list-camp .box-camp {display: block;float:left;width: 375px;margin: 0 35px 110px 35px;}
.list-camp .box-camp .status {margin: 0 0 15px 0;float: left;}
.list-camp .box-camp .status dl {height: 30px;font-size: 0;display: inline-block;border-radius:20px;overflow:hidden;box-shadow:5px 5px 20px 18px rgba(112,110,173,.1);}
.list-camp .box-camp .status dl dt,
.list-camp .box-camp .status dl dd {display: inline-block;height: 30px;line-height: 30px;letter-spacing: -1px}
.list-camp .box-camp .status dl dt {font-size: 18px;text-align: center;min-width: 100px;padding: 0 25px;}
.list-camp .box-camp .status dl dd {padding: 0 10px;background:#fff;text-align: center;font-size: 16px;color:#5e5e5e;}
.list-camp .box-camp .box {width: 100%;height: 545px;overflow:hidden;background: #fff;box-shadow:5px 4px 20px 7px rgba(0,0,0,.1);position: relative;z-index: 5;}
.list-camp .box-camp .box .title {width: 100%;height: 95px;padding: 20px 25px 0 25px;text-align: left;font-family: 'NotoSansM';}
.list-camp .box-camp .box .title strong {font-size: 20px;line-height: 26px;letter-spacing: -1px;}
.list-camp .box-camp .box .des {width: 100%;padding: 0 25px 60px 25px;}
.list-camp .box-camp .box .des ul li {width: 100%;clear: both;padding: 25px 0 0 0;}
.list-camp .box-camp .box .des ul li:after {display: block;content: '';clear: both;}
.list-camp .box-camp .box .des strong,
.list-camp .box-camp .box .des span {display: block;letter-spacing: -1px;}
.list-camp .box-camp .box .des strong {float: left;font-size: 18px;color:#5e5e5e;}
.list-camp .box-camp .box .des span {float: right;font-size: 18px;color:#3e3e3e;font-family: 'NotoSansM';}
.list-camp .box-camp .box .info {width: 100%;border-top: 2px solid #eee;border-bottom: 2px solid #eee;}
.list-camp .box-camp .box .info ul {display: table;table-layout: fixed;width: 100%;}
.list-camp .box-camp .box .info ul li {display: table-cell;vertical-align: middle;text-align: center;height: 74px;font-size: 18px;}
.list-camp .box-camp .box .info ul li:first-child {border-right: 2px solid #eee;}
.list-camp .box-camp .box .info i,
.list-camp .box-camp .box .info em {display: inline-block;vertical-align: middle;}
.list-camp .box-camp .box .info .ico {width: 23px;height: 23px;margin-right: 10px;background: url(../images/ico-status.png) top left no-repeat;}
.list-camp .box-camp .box .info em {font-size: 25px;font-family: 'GothamM';color:#3e3e3e;}
.list-camp .box-camp .box .info em.status-ready {font-family: 'NotoSansM';font-size: 20px;}
.list-camp .box-camp .box .price {width: 100%;text-align: right;font-size: 35px;padding: 30px 25px 0 0;font-family: 'GothamM';letter-spacing: -1px;}

/* type purple */
.list-camp .box-camp.type-purple .status dl dt {background:#5f17f1;color:#fff;}
.list-camp .box-camp.type-purple .box .title {background: #5f17f1;color:#fff;}
.list-camp .box-camp.type-purple .box .price {color:#5f17f1;}
.list-camp .box-camp.type-purple .box .info .ico-influencer {background-position: 0 0;}
.list-camp .box-camp.type-purple .box .info .ico-posting {background-position: -23px 0;}

/* type yellow */
.list-camp .box-camp.type-yellow .status dl dt {background:#ffb32e;color:#3e3e3e;}
.list-camp .box-camp.type-yellow .box .title {background: #ffb32e;color:#3e3e3e;}
.list-camp .box-camp.type-yellow .box .price {color:#ffa100;}
.list-camp .box-camp.type-yellow .box .info .ico-influencer {background-position: 0 -23px;}
.list-camp .box-camp.type-yellow .box .info .ico-posting {background-position: -23px -23px;}

/* type blue */
.list-camp .box-camp.type-blue .status dl dt {background:#228fff;color:#fff;}
.list-camp .box-camp.type-blue .box .title {background: #228fff;color:#fff;}
.list-camp .box-camp.type-blue .box .price {color:#0074eb;}
.list-camp .box-camp.type-blue .box .info .ico-influencer {background-position: 0 -46px;}
.list-camp .box-camp.type-blue .box .info .ico-posting {background-position: -23px -46px;}

/* type gray */
.list-camp .box-camp.type-gray .status dl dt {background:#6f6f6f;color:#fff;}
.list-camp .box-camp.type-gray .box .title {background: #6f6f6f;color:#fff;}
.list-camp .box-camp.type-gray .box .price {color:#3e3e3e;}
.list-camp .box-camp.type-gray .box .info .ico-influencer {background-position: 0 -69px;}
.list-camp .box-camp.type-gray .box .info .ico-posting {background-position: -23px -69px;}


/* 상세 */
.detail-camp {width: 100%;margin:0 auto;padding-top: 48px;}
.detail-camp .area-header {width: 100%;height: 253px;}
.detail-camp .area-header .inner {width: 1360px;margin: 0 auto;position: relative;}
.detail-camp .area-header .box-top {width: 100%;height: 200px;padding: 35px 0 0 0;background: #793bf9;box-shadow: inset 1px 6px 11px 3px rgba(0,0,0,.2)}
.detail-camp .area-header .box-top h2 {font-size: 35px;color:#fff;letter-spacing: -1px;margin-bottom: 70px;text-shadow: 2px 2px 2px rgba(0,0,0,.7);font-family: 'NotoSansM';}
.detail-camp .area-header .box-top ul {font-size: 0;}
.detail-camp .area-header .box-top ul li {display: inline-block;vertical-align: top;height: 30px;padding: 5px 10px 0 10px;background: #fff;text-align: center;
box-shadow: 1px 2px 2px 2px rgba(0,0,0,.5);}
.detail-camp .area-header .box-top ul li {margin-right: 10px;}
.detail-camp .area-header .box-top ul li i,
.detail-camp .area-header .box-top ul li span {display: inline-block;vertical-align: middle;}
.detail-camp .area-header .box-top ul li span {font-size: 16px;color:#5f17f1;letter-spacing: -1px;margin-left: 5px;}
.detail-camp .area-header .box-top ul li i {width: 19px;height: 19px;background: url(../images/ico-status2.png) top left no-repeat;}
.detail-camp .area-header .box-top ul li .ico-person {background-position: 0 0;}
.detail-camp .area-header .box-top ul li .ico-post {background-position: 0 -19px;}
.detail-camp .area-header .box-top .box-right {position: absolute;top: 0;right: 80px;}
.detail-camp .area-header .box-top .box-right .area-tooltips {width: 100%;text-align: center;position: relative;margin-bottom: 25px;padding: 36px 0 0 0;}
.detail-camp .area-header .box-top .box-right .area-tooltips a {display: inline-block;vertical-align: top;width: 46px;height: 46px;background: #fff;border-radius: 50%;
text-align: center;box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);padding: 10px 0 0 0;margin:0 7px;transition: all 0.2s ease-in-out;}
.detail-camp .area-header .box-top .box-right .area-tooltips a i {display: inline-block;width: 25px;height: 25px;background: url(../images/ico-step-btn.png) top left no-repeat;}
.detail-camp .area-header .box-top .box-right .area-tooltips a .ico-edit {background-position: 0 0;}
.detail-camp .area-header .box-top .box-right .area-tooltips a .ico-tel {background-position: 0 -25px;}
.detail-camp .area-header .box-top .box-right .area-tooltips a .ico-mail {background-position: 0 -50px;}
.detail-camp .area-header .box-top .box-right .area-tooltips a:active {background: #c3bbff;}
.detail-camp .area-header .box-top .box-right .price {width: 100%;text-align: center;}
.detail-camp .area-header .box-top .box-right .price strong {color:#fff;font-family: 'GothamM';font-size: 30px;text-shadow: 2px 2px 2px rgba(0,0,0,.5);}
.detail-camp .area-header .box-top .box-right .tooltip {display:none;width:100%;height:25px;position: absolute;top: 0;background: #fff;border:1px solid #bfbfbf;font-size: 12px;color:#4e4e4e;letter-spacing: -1px;}
.detail-camp .area-header .box-top .box-right .tooltip:after {display: block;content: '';width: 8px;height: 7px;background: url(../images/tooltip-arrow.png) top center no-repeat;position: absolute;left: 50%;bottom: -7px;margin-left: -4px;}
.detail-camp .area-header .box-top .box-right .tooltip.mail {height: 50px;top: -25px;}
.detail-camp .area-header .box-top .box-right .tooltip.mail:after {display: block;content: '';width: 8px;height: 7px;background: url(../images/tooltip-arrow.png) top center no-repeat;position: absolute;left: 80%;bottom: -7px;}
.detail-camp .area-header .menu-tab {width: 100%;height: 53px;background: #fff;border-bottom: 2px solid #dcdcdc;box-shadow: 2px 2px 16px 0px rgba(0,0,0,.05);}
.detail-camp .area-header .menu-tab ul {font-size: 0;}
.detail-camp .area-header .menu-tab ul li {display: inline-block;vertical-align: top;height: 53px;}
.detail-camp .area-header .menu-tab ul li a {display: block;padding: 17px 35px 0 35px;height: 100%;font-size: 18px;position: relative;font-family: 'NotoSansM';letter-spacing: -1px;
transition: all 0.2s ease-in-out;}
.detail-camp .area-header .menu-tab ul li.on a {color:#5f17f1;}
.detail-camp .area-header .menu-tab ul li.on a:after {display: block;content:'';width: 100%;height: 6px;background: #5f17f1;position: absolute;left: 0;bottom: -3px;}
.detail-camp .area-header .menu-tab ul li a:hover {color:#876be0;}
.detail-camp .area-conts {width: 100%;height:100%;position: relative;background: #fff;padding-bottom: 200px;}
.detail-camp .area-conts > .inner {width: 1360px;margin:0 auto;position: relative;}
.detail-camp .area-conts > .inner:after {display: block;content: '';clear: both;}
.detail-camp .area-conts > .inner > .fl {width: 72.8%;}
.detail-camp .area-conts > .inner > .fr {width: 27.2%;height: 100%;position: relative;}
.detail-camp .area-conts > .inner > .fr:after {display: block;content: '';width: 500px;height:600%;position: absolute;left: 0;top: 0;z-index: 1;background: #f8f6fb;}
.detail-camp .area-conts .area-step,
.detail-camp .area-conts .area-btn {position: relative;z-index: 5;}
.detail-camp .area-conts .area-btn span.txt {display: block;font-size: 12px;}
.detail-camp .area-conts .area-step {width: 100%;}
.detail-camp .area-conts .area-step > ul > li {width: 100%;clear: both;float: left;position: relative;padding: 18px 15px 18px 25px;border-bottom: 1px solid #eceaf0;}
.detail-camp .area-conts .area-step > ul > li.past span {font-family: 'NotoSansM';}
.detail-camp .area-conts .area-step > ul > li.past:after {display: block;content: '';width: 2px;height: 100%;background: #7a7a7a;position: absolute;left: 0;top: 0;}
.detail-camp .area-conts .area-step > ul > li.on {background: #efe9f7;}
.detail-camp .area-conts .area-step > ul > li.on span {font-family: 'NotoSansM';color:#5f17f1;}
.detail-camp .area-conts .area-step > ul > li.on:after {display: block;content: '';width: 2px;height: 100%;background: #5f17f1;position: absolute;left: 0;top: 0;}
.detail-camp .area-conts .area-step > ul > li span,
.detail-camp .area-conts .area-step > ul > li a {display: block;}
.detail-camp .area-conts .area-step > ul > li span {float: left;font-size: 18px;color:#3e3e3e;letter-spacing: -1px;margin:4px 0 0 0;}
.detail-camp .area-conts .area-step > ul > li a {float: right;width: 50px;height: 25px;line-height:25px;border:1px solid #5f17f1;text-align: center;color:#5f17f1;font-size: 14px;background: #fff;border-radius: 5px;}
.detail-camp .area-conts .area-step > ul > li .date {display: block;float: right;font-size: 11px;margin:5px 0 0 0;color:#7e7e7e;}
.detail-camp .area-conts .area-btn {width: 100%;clear: both;text-align: center;padding: 25px 0 0 0;}
.detail-camp .area-conts .area-btn .txt {display: block;margin:5px 0 0 0;font-size: 12px;}
/* admin-view */
.detail-camp .area-conts .area-step.admin-view ul ul li {width: 100%;clear: both;float: left;padding: 10px 0 10px 0;}

.detail-camp .list-info li {width: 100%;clear: both;float:left;line-height: 35px;}
.detail-camp .list-info li > span,
.detail-camp .list-info li strong {display: block;letter-spacing: -1px;font-size: 18px;}
.detail-camp .list-info li > span {float: left;color:#5e5e5e;}
.detail-camp .list-info li strong {float: right;color:#5f17f1;}
.detail-camp .list-info li .btn-link {display: inline-block;float: right;padding:0 10px;height:25px;line-height:25px;color:#5f17f1;
	border:1px solid #5f17f1;font-size: 18px;letter-spacing: -1px;border-radius: 5px;margin: 5px 0 0 0;}

.detail-camp .bg-gray {position: relative;float: left;}
.detail-camp .bg-gray:after {display: block;content: '';width: 500%;height: 100%;position: absolute;top: 0;right: 0;background: #ebebeb;z-index: 1;}
.detail-camp .bg-gray > ul,
.detail-camp .bg-gray > div {position: relative;z-index: 5;}

/* 기본정보 */
.detail-camp .cont-detailInfo .row {border-bottom: 1px solid #bfbfbf;padding: 50px 25px;}
.detail-camp .cont-detailInfo h3 {display:block;margin-bottom:30px;}
.detail-camp .cont-detailInfo h3 strong,
.detail-camp .cont-detailInfo h3 .content-type {display: inline-block;vertical-align: middle;}
.detail-camp .cont-detailInfo h3 strong {font-size: 25px;font-family: 'NotoSansM';letter-spacing: -1px;}
.detail-camp .cont-detailInfo h3 .content-type {min-width: 70px;height: 24px;line-height: 25px;font-size: 16px; color:#5f17f1;border:1px solid #5f17f1;text-align: center;padding: 0 15px;background: #fff;border-radius: 5px;letter-spacing: -2px;margin-left: 10px;}
.detail-camp .cont-detailInfo .list-info {display: block;width: 420px;position: relative;}
.detail-camp .cont-detailInfo .list-info.fr {padding-right: 25px;}
.detail-camp .cont-detailInfo .list-info.fr:after {display: block;content: '';width: 1px;height: 107px;background: #bfbfbf;position: absolute;left: -50px;top: 0;}
.detail-camp .cont-detailInfo dl {display: block;margin-top: 25px;letter-spacing: -1px;padding-right: 25px;}
.detail-camp .cont-detailInfo dl:first-child {margin-top: 0;}
.detail-camp .cont-detailInfo dl dt {display:block;margin: 0 0 20px 0;color:#3e3e3e;font-size: 20px;font-family: 'NotoSansM';}
.detail-camp .cont-detailInfo dl dd {color:#5e5e5e;font-size: 16px;line-height: 24px;text-align: justify;}
.detail-camp .cont-detailInfo .box.fl,
.detail-camp .cont-detailInfo .box.fr {width: 420px;}
.detail-camp .cont-detailInfo .box.fr {padding-right: 25px;position: relative;}
.detail-camp .cont-detailInfo .box.fr .list-info {width: 100%;}
.detail-camp .cont-detailInfo .box.fr:after {display: block;content: '';width: 1px;height: 234px;background: #bfbfbf;position: absolute;left: -50px;top: 0;}




/* 인플루언서 */
.detail-camp .cont-influencer .list-info,
.detail-camp .cont-influencer .des {width: 50%;padding: 50px 0;}
.detail-camp .cont-influencer .des {letter-spacing: -1px;padding: 50px 50px 50px 53px;border-left: 1px solid #bfbfbf;}
.detail-camp .cont-influencer .des dt {font-size: 20px;color:#3e3e3e;margin-bottom: 15px;font-family: 'NotoSansM'}
.detail-camp .cont-influencer .des dd {font-size: 16px;color:#5e5e5e;line-height: 24px;text-align: justify;}
.detail-camp .cont-influencer .list-info {padding:50px 50px 0 27px;}
.detail-camp .cont-influencer .list-info .labels {width: 100%;clear: both;float:left;margin:15px 0 0 0;}
.detail-camp .cont-influencer .list-info .labels span {display: inline-block;vertical-align: top;min-width: 70px;height: 24px;line-height: 25px;font-size: 16px;
color:#5f17f1;border:1px solid #5f17f1;text-align: center;padding: 0 15px;background: #fff;border-radius: 5px;letter-spacing: -2px;margin: 0 10px 10px 0;}
.detail-camp .cont-influencer .influencer-list {background: #fff;clear: both;}
/* .detail-camp .cont-influencer .influencer-list .area-tab {width: 100%;padding: 25px 0 50px 27px;}
.detail-camp .cont-influencer .influencer-list .area-tab ul {font-size: 0;}
.detail-camp .cont-influencer .influencer-list .area-tab ul li {display: inline-block;vertical-align: top;margin-right: 10px;}
.detail-camp .cont-influencer .influencer-list .area-tab ul li a {display: block;width: 80px;height: 30px;line-height:30px;background: #fff;border:1px solid #f651ba;border-radius:5px;
text-align: center;font-size: 15px;color:#f651ba;}
.detail-camp .cont-influencer .influencer-list .area-tab ul li.on a {background: #f651ba;color:#fff;} */
.detail-camp .cont-influencer .influencer-list .info-box {width: 100%;clear: both;float: left;padding: 55px 50px 25px 27px;}
.detail-camp .cont-influencer .influencer-list .info-box ul {display: block;float: left;}
.detail-camp .cont-influencer .influencer-list .info-box ul li {display: inline-block;vertical-align: middle;font-size: 18px;color:#3e3e3e;letter-spacing: -1px;margin-right: 15px;}
.detail-camp .cont-influencer .influencer-list .info-box ul li span {color:#5f17f1;}
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box {float: right;position: relative;}
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box i,
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box > p {display: inline-block;vertical-align: middle;font-size: 18px;color:#3e3e3e;letter-spacing: -1px;}
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box i {width: 18px;height: 18px;background: url(../images/ico-qmark.png) top left no-repeat;cursor: pointer;margin-right: 5px;}
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box > p em {color:#5f17f1;}
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box .tooltip {display:none;width:200px;height:25px;position: absolute;left:-90px;top: -30px;background: #fff;border:1px solid #bfbfbf;text-align:center;font-size: 12px;color:#4e4e4e;letter-spacing: -1px;}
.detail-camp .cont-influencer .influencer-list .info-box .tooltip-box .tooltip:after {display: block;content: '';width: 8px;height: 7px;background: url(../images/tooltip-arrow.png) top center no-repeat;position: absolute;left: 50%;bottom: -7px;margin-left: -4px;}
.detail-camp .cont-influencer .influencer-list .card-list {padding: 0 0 0 38px;}
.detail-camp .cont-influencer .influencer-list .card-list > ul {font-size: 0;}
.detail-camp .cont-influencer .influencer-list .card-list > ul > li {display: inline-block;vertical-align: top;width: 250px;height: 400px;border:1px solid #a0a0a0;
margin: 0 28px 55px 28px;box-shadow: 3px 3px 16px 0px rgba(0,0,0,.1)}
.detail-camp .cont-influencer .influencer-list .card-list .box-top {width: 100%;height: 202px;text-align: center;padding: 20px 0 0 0;}
.detail-camp .cont-influencer .influencer-list .card-list .box-top .img {display: block;width: 100px;height: 100px;overflow: hidden;border-radius: 50%;margin:0 auto 20px auto;}
.detail-camp .cont-influencer .influencer-list .card-list .box-top .img img {width: 100%;}
.detail-camp .cont-influencer .influencer-list .card-list .box-top dl {}
.detail-camp .cont-influencer .influencer-list .card-list .box-top dl dt {font-size: 20px;color:#3e3e3e;margin-bottom: 10px;font-family: 'NotoSansM'}
.detail-camp .cont-influencer .influencer-list .card-list .box-top dl dd {font-size: 15px;color:#5e5e5e;}
.detail-camp .cont-influencer .influencer-list .card-list .box-btm {text-align: center;padding: 20px 0 0 0;}
.detail-camp .cont-influencer .influencer-list .card-list .follower > strong {font-size: 30px;display: block;margin-bottom: 5px;font-family: 'NotoSansM'}
.detail-camp .cont-influencer .influencer-list .card-list .follower ul li {line-height:18px;font-size: 15px;}
.detail-camp .cont-influencer .influencer-list .card-list .price {display:block;margin:20px 0 15px 0;color:#3e3e3e;font-size: 20px;letter-spacing: -1px;}
.detail-camp .cont-influencer .influencer-list .card-list .btns a {display: block;width: 150px;height: 40px;margin:0 auto;
text-align: center;color:#fff;font-size: 20px;line-height: 40px;border-radius: 10px;}
.detail-camp .cont-influencer .influencer-list .card-list .btns a.btn-confirm {background: #c3a0f7;}
.detail-camp .cont-influencer .influencer-list .card-list .btns a.btn-finish {background: #8851f6;}
.detail-camp .cont-influencer .influencer-list .card-list .btns a.btn-cancel {background: #6f6f6f;}

/* male */
.detail-camp .cont-influencer .influencer-list .card-list .gender-male .box-top {background: #cbdbff;}
.detail-camp .cont-influencer .influencer-list .card-list .gender-male .follower ul em,
.detail-camp .cont-influencer .influencer-list .card-list .gender-male .follower > strong {color:#578bff;}

/* female */
.detail-camp .cont-influencer .influencer-list .card-list .gender-female .box-top {background: #ffe4fc;}
.detail-camp .cont-influencer .influencer-list .card-list .gender-female .follower ul em,
.detail-camp .cont-influencer .influencer-list .card-list .gender-female .follower > strong {color:#f651ba;}


/* 리포트 */
.detail-camp .cont-report {}
.detail-camp .cont-report .dashboard {width: 100%;height: 220px;padding: 38px 0 0 0;margin: 0 0 25px 0;}
.detail-camp .cont-report .dashboard ul {font-size: 0;text-align: center;}
.detail-camp .cont-report .dashboard ul li {display: block;float:left;text-align: center;width: 145px;height: 145px;border:2px solid #621bf0;border-radius: 5px;background: #fff;
padding: 15px 0 0 0;margin:0 19px 0 0;box-shadow: 2px 2px 11px 2px rgba(0,0,0,.2)}
.detail-camp .cont-report .dashboard ul li:last-child {margin: 0;}
.detail-camp .cont-report .dashboard ul li i {display: inline-block;width: 75px;height: 75px;background: url(../images/ico-report.png) top left no-repeat;}
.detail-camp .cont-report .dashboard ul li .ico-01 {background-position: 0 0;}
.detail-camp .cont-report .dashboard ul li .ico-02 {background-position: 0 -75px;}
.detail-camp .cont-report .dashboard ul li .ico-03 {background-position: 0 -150px;}
.detail-camp .cont-report .dashboard ul li .ico-04 {background-position: 0 -225px;}
.detail-camp .cont-report .dashboard ul li .ico-05 {background-position: 0 -300px;}
.detail-camp .cont-report .dashboard ul li .ico-06 {background-position: 0 -375px;}
.detail-camp .cont-report .dashboard ul li div {margin:15px 0 0 0;font-size: 16px;color:#5f17f1;letter-spacing: -1px;}
.detail-camp .cont-report .influencer-list {width: 100%;background: #fff;clear: both;padding:0 25px 0 0;}
.detail-camp .cont-report .influencer-list > ul > li {width: 100%;height:80px;clear: both;float: left;margin:0 0 10px 0;border:1px solid #aaa;border-radius: 5px;
padding: 10px 0 0 20px;}
.detail-camp .cont-report .influencer-list > ul > li .img,
.detail-camp .cont-report .influencer-list > ul > li dl {display: inline-block;vertical-align: middle;}
.detail-camp .cont-report .influencer-list > ul > li .img {border-radius: 50%;width: 57px;height: 57px;overflow: hidden;margin-right: 15px;}
.detail-camp .cont-report .influencer-list > ul > li .img img {width: 100%;}
.detail-camp .cont-report .influencer-list > ul > li dl dt {font-size: 20px;color:#3e3e3e;margin-bottom: 5px;}
.detail-camp .cont-report .influencer-list > ul > li dl dd {font-size: 15px;color:#5e5e5e;}
.detail-camp .cont-report .influencer-list .sns-status {font-size: 0;margin:4px 15px 0 0;}
.detail-camp .cont-report .influencer-list .sns-status li {display: inline-block;vertical-align: middle;text-align: center;width: 75px;}
.detail-camp .cont-report .influencer-list .sns-status li i {display: inline-block;width: 33px;height: 33px;background: url(../images/ico-sns.png) top left no-repeat;background-size: 300% 200%;}
.detail-camp .cont-report .influencer-list .sns-status li .ico-insta {background-position: 0 0;}
.detail-camp .cont-report .influencer-list .sns-status li .ico-facebook {background-position: -33px 0;}
.detail-camp .cont-report .influencer-list .sns-status li .ico-youtube {background-position: -66px 0;}
.detail-camp .cont-report .influencer-list .sns-status strong {display: block;margin: 8px 0 0 0;font-size: 14px;color:#5e5e5e;letter-spacing: -1px;}




/* 팝업 공통 */
.layer-popup.medium {width: 380px;height: 425px;margin: -190px 0 0 -217px;}
.layer-popup.medium .area-cont {}
.layer-popup.medium .area-btn {width:100%;text-align: center;background: #fff;padding: 25px 0;position: absolute;bottom: 0;}
.layer-popup.medium .area-btn.theme02 {width: 100%;height: 60px;background: #e5e5e5;padding: 15px 15px 0 20px;}
.layer-popup.medium .area-btn.theme02 .box-check {float: left;margin: 7px 0 0 0;}
.layer-popup.medium .area-btn.theme02 .btn-submit {float: right;width: 100px;height: 30px;line-height:30px;padding: 0;margin: 0;color:#fff;font-size: 16px}

.layer-popup.medium2 {width: 380px;height: 325px;margin: -162px 0 0 -217px;}
.layer-popup.medium2 .area-cont {}
.layer-popup.medium2 .area-btn {width:100%;text-align: center;background: #fff;padding: 25px 0;position: absolute;bottom: 0;}
.layer-popup.medium2 .area-btn.theme02 {width: 100%;height: 60px;background: #e5e5e5;padding: 15px 15px 0 20px;}
.layer-popup.medium2 .area-btn.theme02 .box-check {float: left;margin: 7px 0 0 0;}
.layer-popup.medium2 .area-btn.theme02 .btn-submit {float: right;width: 100px;height: 30px;line-height:30px;padding: 0;margin: 0;color:#fff;font-size: 16px}


.layer-popup.large {width: 380px;height: 500px;margin: -250px 0 0 -217px;}
.layer-popup.large .area-cont {}
.layer-popup.large .area-btn {width:100%;text-align: center;background: #fff;padding: 25px 0;position: absolute;bottom: 0;}
.layer-popup.large .area-btn.theme02 {width: 100%;height: 60px;background: #e5e5e5;padding: 15px 15px 0 20px;}
.layer-popup.large .area-btn.theme02 .box-check {float: left;margin: 7px 0 0 0;}
.layer-popup.large .area-btn.theme02 .btn-submit {float: right;width: 100px;height: 30px;line-height:30px;padding: 0;margin: 0;color:#fff;font-size: 16px}


.layer-popup.small {width: 380px;height: 250px;margin:-125px 0 0 -190px;}


/*컨펌 */
.layer-alert-confirm .area-cont {width: 100%;text-align: center;padding: 50px 0 50px 0;}
.layer-alert-confirm .area-cont p {font-size: 18px;color:#3e3e3e;line-height: 25px;font-family: 'NotoSansM';letter-spacing: -1px;}

/* 캠페인 검토 신청 팝업 */
.pop-regi-camp {width: 100%;margin:32px 0 0 0;font-family: 'NotoSansM';text-align: center;background: url(../images/img-setting.png) top center no-repeat;padding-top: 90px;}
.pop-regi-camp p {font-size: 18px;color:#3e3e3e;}
.pop-regi-camp dl {display: block;margin:20px 0 0 0;}
.pop-regi-camp dl dt {display:block;margin:0 0 25px 0;font-size: 15px;color:#3e3e3e;}
.pop-regi-camp dl dd {font-size: 15px;line-height: 20px;}

/* 캠페인 착수금 결제 */
.pop-pay-camp {padding: 40px 10px 0 10px;letter-spacing: -1px;}
.pop-pay-camp .price {width: 100%;text-align: center;margin: 0 0 15px 0;}
.pop-pay-camp .price >  strong {display:block;margin:0 0 10px 0;color:#3e3e3e;font-size: 35px;font-family: 'GothamM';}
.pop-pay-camp .price > span {font-size: 15px;color:#5e5e5e;}
.pop-pay-camp .price ul {display: block;width:100%;clear:both;float:left;margin-bottom: 20px;padding-bottom:10px;border-bottom: 1px solid #e1e4e9;}
.pop-pay-camp .price ul li {width: 100%;clear: both;float: left;font-size: 16px;line-height: 160%;}
.pop-pay-camp .price ul li span,
.pop-pay-camp .price ul li strong {display: block;}
.pop-pay-camp .price ul li span {float: left;}
.pop-pay-camp .price ul li strong {float: right;}
.pop-pay-camp .policy {width: 100%;height:135px;background: #f3f3f3;padding: 5px 10px;overflow: auto;font-size: 15px;color:#3e3e3e;line-height: 20px;}
.pop-pay-camp .datepick {width: 100%;text-align: center;}

/* 담당자 배정 */
.pop-manager {}
.pop-manager .check-type02 {width: 100%;height: 370px;overflow: auto;}
.pop-manager .check-type02 ul li {width: 100%;height:63px;clear: both;float: left;position: relative;overflow: hidden;border-bottom: 1px solid #ebebeb;}
.pop-manager .check-type02 ul li:last-child {border-bottom: none;}
.pop-manager .check-type02 ul li label {width: 100%;height: 100%;display: block;}
.pop-manager .check-type02 ul li input[type="checkbox"] + label span {position: absolute;top: 20px;right: 20px;margin: 0;}
.pop-manager .check-type02 dl {position: absolute;top: 10px;left: 0;text-align: left;padding: 0 0 0 12px;letter-spacing: -1px;}
.pop-manager .check-type02 dl dt {display: block;margin:0 0 8px 0;font-size: 16px;color:#000;}
.pop-manager .check-type02 dl dd {display: inline-block;vertical-align: middle;font-size: 14px;color:#5e5e5e;margin-right: 6px;}


/* 인플루언서 등록 */
.layer-influencer .area-cont {padding: 15px 36px 0 36px;}


/* 광고비 입금 확인 */
.pop-pay-camp .accountInfo {text-align: center;}
.pop-pay-camp .accountInfo p {font-size: 20px;color:#000;margin-bottom: 20px;}
.pop-pay-camp .accountInfo ul {font-size: 16px;line-height: 160%;width: 100%;text-align: center;}
.pop-pay-camp .accountInfo ul span {margin:0 5px 0 5px;}

